.info-item
   display: flex
   align-items: flex-start
   
   svg
      flex-shrink: 0
      margin-right: 8px
      
   &__icon
      flex: 0 0 35px
      width: 35px
      margin-right: 25px
      +xs
         margin-right: 15px
   
   &_tel
      a
         +f('cal-700', 20, 28)
   &_icon-bottom
      align-items: flex-end
      
.anim-mouse
   width: 32px
   height: 47px
   border: 2px solid rgba(255, 255, 255, .6)
   background-image: linear-gradient(-182deg, rgba(135, 135, 135, 0) 0%, rgba(135, 135, 135, 0.75) 100%)
   background-position: 100% -100%
   background-size: 100% 200%
   background-repeat: no-repeat
   border-radius: 14px
   cursor: pointer
   z-index: 10
   transition: .7s ease-in-out
   
   &:hover
      background-position: 100% 100%
      background-size: 100% 100%
   &__point
      position: absolute
      width: 6px
      height: 6px
      border-radius: 100%
      background: rgba(255, 255, 255, .9)
      left: 50%
      top: 70%
      transform: translate(-50%, 0)
      animation-name: mousePoint
      animation-duration: 2.3s
      animation-iteration-count: infinite
      animation-direction: reverse
      animation-timing-function: linear
      animation-fill-mode: backwards
      
.success-message
   width: 300px
   padding: 40px 20px
   text-align: center
   +vertical
   box-shadow: 0 0 25px rgba(#000, .6)
   p
      display: inline-block
      vertical-align: middle
      +f('cal-400', 17, 20)
      
.breadcrumb
   $parent: &
   transform: translateX(-50px)
   opacity: 0
      
   ul
      display: flex
      li
         white-space: nowrap
         &:not(:first-child) a
            padding: 0 10px 0 25px
            border-left: 0
            +xs
               padding: 0 3px 0 20px
   
         &.is-active
            a
               pointer-events: none
         a
            position: relative
            display: block
            padding: 0 10px 0 15px
            height: 30px
            color: #fff
            +f('cal-700', 11, 30, 25)
            text-transform: uppercase
            border: 1px solid rgba(#fff, .2)
            border-right: 0
            +trs
            +xs
               padding: 0 5px 0 10px
               font-size: 10px
            &:hover
               color: $color3
            
            &::after
               position: absolute
               top: 3px
               right: -11px
               width: 21px
               height: 21px
               transform: rotate(45deg)
               border-top-right-radius: 30%
               border-top: 1px solid rgba(#fff, .2)
               border-right: 1px solid rgba(#fff, .2)
               content: ''
               
   &_black ul li a
      color: #18222d
      border-color: rgba(#18222d, .2)
      &::after
         border-top-color: rgba(#18222d, .2)
         border-right-color: rgba(#18222d, .2)

.parallax-bg
   +coverdiv
   +cover
   
.projects
   padding: 38px 0 80px
   +sm
      padding: 25px 0 50px
   &__breadcrumb
      margin-bottom: 25px
      
   &__row
      flex-wrap: wrap
      justify-content: center
      
   &__top
      max-width: 798px
      margin: 0 auto 47px
      text-align: center
      +xs
         margin: 0 auto 30px
   
   &__title
      opacity: 0
      transform: translateY(-60px)
      margin-bottom: 20px
      
   &__descr
      &-title
         opacity: 0
         transform: translateY(-60px)
         max-width: 580px
         margin: 0 auto
         font-size: 30px
         line-height: 28px
         letter-spacing: 0.75px
         +xs
            font-size: 21px
            line-height: 24px
         &-count
            opacity: 0
            transform: rotate(180deg)
            display: flex
            align-items: center
            justify-content: center
            margin: 18px auto 0
            width: 125px
            height: 129px
            background: url('../img/other/green-circle.png') no-repeat center/cover
            +f('ms-black', 63, 60)
            span
               opacity: 0
               margin-top: -27px
               margin-left: 10px
               
      &-text
         opacity: 0
         transform: translateY(-60px)
         +f('cal-400', 20, 25)
         margin-top: 12px
         +xs
            font-size: 17px
            line-height: 22px
         
   &__item
      $parent: &
      position: relative
      height: 400px
      flex: 0 1 calc(33.333333% - 30px)
      margin: 0 15px
      max-width: 350px
      cursor: default
      +sm
         flex: 0 1 50%
      +xs
         flex: 0 1 100%
         
      &:hover #{$parent}-text
         opacity: 1
         pointer-events: auto
         border-color: transparent
      
      &:nth-child(3) ~ &
         margin-top: 30px
         
      &:nth-child(2) ~ &
         +sm
            margin-top: 30px
            
      &:nth-child(1) ~ &
         +xs
            margin-top: 30px
         
      &-img
         height: 170px
         +cover
         
      &-text
         height: 230px
         padding: 25px 20px 25px 25px
         border: 2px solid #e6e6e6
         border-top: 0
         letter-spacing: 0.4px
         +xs
            padding: 20px 15px
         &_more
            position: absolute
            top: 0
            right: -2px
            left: -2px
            bottom: -2px
            opacity: 0
            height: auto
            pointer-events: none
            z-index: 2
            +cover
            color: #fff
            transition: .35s ease-in-out
            &::after
               position: absolute
               top: 0
               right: -2px
               left: -2px
               bottom: -2px
               content: ''
               background: rgba(#e4a13a, .85)
               
            .projects__item-descr
               color: #fff
               p
                  max-height: 230px
            
      &-title
         margin-bottom: 6px
         +f('cal-700', 18, 21)
         letter-spacing: 0.45px
         text-transform: uppercase
   
      &-descr
         color: #61656b
         font-size: 16px
         line-height: 22px
         p
            max-height: 132px
         
      &-link
         margin-top: auto
         font-size: 15px
         line-height: 21px
         letter-spacing: 0.07em
         color: #fff
         +f('cal-400')
   
      &-inner
         position: relative
         z-index: 1
         height: 100%
         display: flex
         flex-direction: column
         align-items: flex-start