.info-item
   display: flex
   align-items: flex-start
   
   svg
      flex-shrink: 0
      margin-right: 8px
      
   &__icon
      flex: 0 0 35px
      width: 35px
      margin-right: 25px
      +xs
         margin-right: 15px
   
   &_tel
      a
         +f('cal-700', 20, 28)
   &_icon-bottom
      align-items: flex-end
      
.anim-mouse
   width: 32px
   height: 47px
   border: 2px solid rgba(255, 255, 255, .6)
   background-image: linear-gradient(-182deg, rgba(135, 135, 135, 0) 0%, rgba(135, 135, 135, 0.75) 100%)
   background-position: 100% -100%
   background-size: 100% 200%
   background-repeat: no-repeat
   border-radius: 14px
   cursor: pointer
   z-index: 10
   transition: .7s ease-in-out
   
   &:hover
      background-position: 100% 100%
      background-size: 100% 100%
   &__point
      position: absolute
      width: 6px
      height: 6px
      border-radius: 100%
      background: rgba(255, 255, 255, .9)
      left: 50%
      top: 70%
      transform: translate(-50%, 0)
      animation-name: mousePoint
      animation-duration: 2.3s
      animation-iteration-count: infinite
      animation-direction: reverse
      animation-timing-function: linear
      animation-fill-mode: backwards
      
.success-message
   width: 300px
   padding: 40px 20px
   text-align: center
   +vertical
   box-shadow: 0 0 25px rgba(#000, .6)
   p
      display: inline-block
      vertical-align: middle
      +f('cal-400', 17, 20)
      
.breadcrumb
   transform: translateX(-50px)
   opacity: 0
   ul
      display: flex
      li
         &:not(:first-child) a
            padding: 0 10px 0 25px
            border-left: 0
            +xs
               padding: 0 3px 0 20px
   
         &.is-active
            a
               pointer-events: none
               //background: #147c66
               //&::after
               //   background: #147c66
               //   z-index: -1
               
         a
            position: relative
            display: block
            padding: 0 10px 0 15px
            height: 30px
            color: #fff
            +f('cal-700', 11, 30, 25)
            text-transform: uppercase
            border: 1px solid rgba(#fff, .2)
            border-right: 0
            +trs
            +xs
               padding: 0 5px 0 10px
               font-size: 10px
            .no-touch &:hover
               color: $color3
            
            &::after
               position: absolute
               top: 3px
               right: -11px
               width: 21px
               height: 21px
               transform: rotate(45deg)
               border-top-right-radius: 30%
               border-top: 1px solid rgba(#fff, .2)
               border-right: 1px solid rgba(#fff, .2)
               content: ''

.parallax-bg
   +coverdiv
   +cover