.about
   padding: 40px 0 100px
   
   &__content
      display: flex
      &-img
         flex: 0 0 31.53153%
         +ratio(350, 395)
         +cover
      &-text
         flex: 0 1 auto
         padding-left: 28px
      
      &-title
         margin-bottom: 10px
         text-align: left
      p
         font-size: 17px
         color: #61656b
         &:not(:last-child)
            margin-bottom: 15px
            
.services
   padding: 60px 0
   &__title
      margin-bottom: 30px
      
   &__row
      flex-wrap: wrap
      
   &__item
      $parent: &
      position: relative
      flex: 0 1 calc(33.333333% - 30px)
      margin: 0 15px
      max-width: 380px
      cursor: default
      overflow: hidden
      &:hover
         #{$parent}-content
            padding: 35px 30px
            transform: translateY(0)
            background: rgba(#000d0a, .7)
         #{$parent}-title
            color: #fff
            
      &:nth-child(3) ~ &
         margin-top: 30px
      &-img
         +ratio(350, 410)
         +cover
         
      &-content
         position: absolute
         top: 0
         bottom: 0
         left: 0
         right: 0
         transform: translateY(calc(100% - 80px))
         display: flex
         flex-direction: column
         justify-content: space-between
         padding: 20px 20px 35px
         transition: .5s ease
         will-change: transform
         background: rgba(#fff, .9)
         > a
            align-self: flex-start
            font-size: 15px
            line-height: 21px
            letter-spacing: 0.38px
            +f('cal-400')
            color: #e4a13a
            
      &-title
         +f('cal-400', 22, 22)
         transition: color .5s ease
         h6
            max-height: 44px

.history
   padding: 60px 0
   background: #f6f6f6
   &__title
      margin-bottom: 30px
      
   &__slider
      .slick-list
         margin: 0 -15px
      &-item
         position: relative
         padding: 0 15px
         height: 410px
      &-img
         position: absolute
         top: 0
         right: 15px
         left: 15px
         bottom: 0
         +cover
      &-text
         position: absolute
         top: 0
         bottom: 0
         z-index: 1
         padding: 45px 38px
         width: 394px
         background: rgba(#000d0a, .6)
         color: #fff
         font-size: 23px
         line-height: 30px
         &_l
            left: 50px
         &_r
            right: 50px
         strong
            +f('cal-700')
         p
            max-height: 330px
            
      &-nav
         padding: 30px 0 0
         overflow: hidden
      .slick-dots
         //display: flex
         margin: 0 -2px
         padding-bottom: 16px
         transform: translate3d(0, 0, 0)
         white-space: nowrap
         &::before
            position: absolute
            left: 0
            top: 100%
            margin-top: -19px
            width: 50px
            height: 11px
            z-index: 1
            background-image: linear-gradient(to right, #f6f6f6, transparent)
            content: ''
         &::after
            position: absolute
            right: 0
            top: 100%
            margin-top: -19px
            width: 50px
            height: 11px
            z-index: 1
            background-image: linear-gradient(to left, #f6f6f6, transparent)
            content: ''
            
         li
            position: relative
            margin: 0 2px
            display: inline-block
            width: calc(100% / 6 - 4px)
            //flex: 0 0 calc(100% / 6 - 4px)
            padding-bottom: 20px
            text-align: center
            cursor: pointer
            &.slick-active
               &::before
                  background: #28b298
               &::after
                  border-color: #28b298
                  
            &::before
               position: absolute
               left: 0
               top: 100%
               width: 100%
               height: 7px
               background: #e6e6e6
               transition: .3s ease
               content: ''
            &::after
               position: absolute
               top: 100%
               left: 50%
               margin-top: -8px
               margin-left: -11px
               width: 22px
               height: 22px
               border: 5px solid #e6e6e6
               background: #fff
               border-radius: 50%
               transition: .3s ease
               content: ''
            button
               padding: 0
               border: 0
               +f('cal-700', 25, 25)
               letter-spacing: -0.75px
               color: #000
            