// begin stages //
.stages
   padding: 57px 0 62px
   
   &__tabs
      margin-bottom: 80px
   
   &__title
      margin-bottom: 20px
      font-size: 42px
      text-align: center
      letter-spacing: 0.06em
   
   &__inner
      position: relative
      display: flex
      flex-wrap: wrap
      margin: 0 -35px
      &::after
         position: absolute
         top: 107px
         left: 50%
         margin-left: -62.5px
         width: 125px
         height: 511px
         background: url("../img/other/stages_dots.png") no-repeat center
         content: ''
         
   &__col
      flex: 0 1 50%
      padding: 0 35px
      &:nth-child(1) .stages__item
         &:nth-child(1)
            margin-bottom: 70px
         &:nth-child(2)
            margin-bottom: 60px
         &:nth-child(3)
            .stages__item-icon
               top: 38px
      &:nth-child(2) .stages__item
         &:nth-child(1)
            margin-top: 115px
            .stages__item-icon
               top: 51px
         &:nth-child(2)
            margin-top: 60px
            .stages__item-icon
               top: 63px
   
   &__item
      $parent: &
      position: relative
      display: flex
      &_left
         text-align: right
         
      &_right
         text-align: left
         
      &-text
         #{$parent}_left &
            flex: 0 1 475px
            padding-right: 40px
         
         #{$parent}_right &
            flex: 0 1 525px
            padding-left: 95px
         
      &-title
         margin-bottom: 8px
         +f('cal-700', 20, 21, -30)
      &-descr
         margin-bottom: 7px
         font-size: 17px
         line-height: 25px
      &-term
         display: flex
         align-items: center
         +f('cal-700', 12)
         font-style: italic
         text-transform: uppercase
         #{$parent}_left &
            justify-content: flex-end
         
         svg
            margin-right: 10px
            width: 17px
            height: 17px
            
      &-addition
         font-size: 13px
         line-height: 14px
         font-style: italic
         color: #61656b
         #{$parent}_left &
            padding-left: 100px
         #{$parent}_right &
            padding-left: 25px
            
      &-icon
         position: absolute
         top: 53px
         #{$parent}_left &
            right: 3px
         #{$parent}_right &
            left: -2px
   
   &__result
      position: relative
      max-width: 920px
      margin: 0 auto
      padding: 55px 30px 65px
      text-align: center
      border: 2px solid rgba(#e5aa46, .5)
      &::before
         position: absolute
         top: -4px
         left: 50%
         z-index: 1
         width: 290px
         height: 5px
         margin-left: -145px
         background: #fff
         content: ''
      &-title
         margin-bottom: 33px
         text-transform: none
         line-height: 42px
         letter-spacing: 0.025em
   
      &-btn
         position: absolute
         top: -30px
         left: 50%
         z-index: 2
         transform: translateX(-50%)
         min-width: 250px
         
      &-list
         max-width: 790px
         margin: 0 auto
         padding: 0 30px
         text-align: left
         ul
            li
               position: relative
               padding-left: 35px
               +f('cal-400', 20, 25, 0)
               &:not(:last-child)
                  margin-bottom: 20px
         
               svg
                  position: absolute
                  top: 0
                  left: 0
                  width: 25px
                  height: 25px
                  
// end stages //

// begin tariff //
.tariff
   padding: 80px 0
   text-align: center
   
   &__title
      margin-bottom: 30px
      text-transform: uppercase
   
   &__inner
      display: flex
      margin: 0 -15px
   &__item
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      flex: 0 1 calc(25% - 30px)
      margin: 0 15px
      padding: 25px 25px 0
      cursor: default
      &:hover::after
         transform: scale(1.08, 1.14)
         border-color: #e4a23b
      &:hover
         .tariff__item-btn
            background: #e4a23b
            &::after
               opacity: 0
               
      &_top
         padding: 5px 25px 0
   
      &::after
         position: absolute
         top: 0
         left: 0
         right: 0
         bottom: 24px
         z-index: -1
         border: 2px solid #e6e6e6
         content: ''
         transform-origin: 50% 10%
         transition: .4s ease
         
      &-title,
      &-price
         color: #000
         text-transform: uppercase
         font-size: 18px
         line-height: 20px
         letter-spacing: 0.05em
   
      &-title
         margin: auto 0 15px
         &_top
            margin-top: 15px
      &-icon
         margin-bottom: 25px
         
      &-descr
         margin-bottom: 20px
         font-size: 15px
         line-height: 20px
         color: #61656b
         p
            &:not(:last-child)
               margin-bottom: 10px
         
      &-price
         margin-bottom: 20px
         
      &-btn
         align-self: center
         margin-top: auto
         min-width: 158px
         &::after
            transition: .5s ease
// end tariff //

// begin benefits //
.benefits
   padding: 30px 0 74px
   
   &__container
      max-width: 970px
      
   &__title
      margin-bottom: 60px
      text-transform: none
      letter-spacing: 0.025em

   &__inner
      display: flex
      justify-content: space-between
      margin: 0 -15px
      padding-left: 20px
   
   &__item
      flex-grow: 0
      flex-shrink: 0
      padding: 0 15px
      text-align: center
      +f('cal-400')
      line-height: 21px
      color: #000
      &:nth-child(1)
         flex-basis: 31%
      &:nth-child(2)
         flex-basis: 23%
      &:nth-child(3)
         flex-basis: 34%
      
      &-img-wrap
         margin: 0 auto 24px
         width: 57px
         height: 83px
         +cover-img
// end benefits //

// begin spec //
.spec
   position: relative
   padding: 68px 0 93px
   
   &__bg
      pointer-events: none
      +coverdiv
      +cover
      z-index: 1
      &::after
         +coverdiv
         background: rgba(#001512, .85)
         content: ''
   
   &__container
      position: relative
      z-index: 2
   
   &__title
      margin-bottom: 20px
      text-align: center
      letter-spacing: 0.025em
      color: #fff
      
   &__slider
      max-width: 1020px
      padding: 0 100px
      margin: 0 auto
      .slider__btn
         svg
            fill: #fff
      
   &__person
      position: relative
      padding: 33px 10px 10px
      &::before
         position: absolute
         top: calc(100% - 10px)
         left: 0
         right: 0
         bottom: 0
         z-index: -1
         background: rgba(255, 255, 255, 0.5)
         content: ''
      &::after
         position: absolute
         top: 58px
         left: -10px
         right: -10px
         bottom: 10px
         z-index: -1
         background: rgba(#fff, .3)
         content: ''
      &-inner
         display: flex
         align-items: center
         padding: 0 50px 0 25px
         height: 355px
         background: #fff
         
      &-img
         align-self: flex-end
         flex: 0 1 346px
         margin-bottom: -1px
         +cover
         +ratio(346, 388)
      
      &-text
         flex: 0 0 380px
         margin-top: -20px
         padding-left: 20px
         
      &-data
         margin-bottom: 20px
   
      &-name
         margin-bottom: 10px
         +f('cal-700', 20)
         text-transform: uppercase
      &-pos
         font-size: 17px
         color: #e5aa46
         text-transform: uppercase
      
      &-descr
         color: #61656b
         font-size: 16px
         p
            &:not(:last-child)
               margin-bottom: 5px
// end spec //

// begin faq //
.faq
   padding: 60px 0
   
   &__container
   
   &__title
      margin-bottom: 40px
      text-transform: uppercase
      text-align: center
      
   &__item
      border: 2px solid #e6e6e6
      background: #fff
      transition: .3s ease
      &:not(:last-child)
         margin-bottom: 20px
         
      &.is-active
         border-color: #e4a23b
         
         .faq__question-icon .icon-minus
            opacity: 1
         .faq__question-icon .icon-plus
            opacity: 0
   
   &__question
      display: flex
      align-items: center
      padding: 14px 27px 14px 30px
      +f('cal-700')
      line-height: 20px
      text-transform: uppercase
      transition: .3s ease
      color: #000
      cursor: pointer
      &-icon
         position: relative
         flex-basis: 32px
         width: 32px
         height: 32px
         margin-left: auto
         svg
            transition: .3s ease
         .icon-minus
            position: absolute
            opacity: 0
            top: 0
            left: 0
            fill: #e4a23b
      
   &__answer
      height: 0
      overflow: hidden
      color: #61656b
      &-inner
         padding: 0 27px 14px 30px
// end faq //

// begin form-section //
.form-section
   padding: 60px 0
   
   &__container
      max-width: 840px
      
   &__title
      max-width: 600px
      margin: 0 auto 45px
      text-transform: none
      line-height: 40px
      letter-spacing: (25 / 1000) * 1em
   
   &__form
      display: flex
      align-items: center
      margin: 0 -10px 20px
      &-field
         padding: 0 10px
         flex: 0 1 33.33333%
         
      &-input
         line-height: 35px
         height: 35px
         +f('cal-400', 16)
         border-bottom: 3px solid rgba(#cccccc, .5)
         +placeholder-color(#18222d)
         
      &-submit
         min-width: 0
         width: 100%
         
   &__agree
      max-width: 560px
      margin: 0 auto
      font-size: 12px
      text-align: center
      span
         color: #28b298
   
// end form-section //