//begin footer
+b.FOOTER.footer(data-anim='fade-y' data-anim-duration='1')
	+e.container.container
		+e.row
			+e.col
				+e.A.logo.logo(href='#!')
					svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='80', height='76', viewbox='0 0 80 76')
						defs
							path#ibkab(d='M245 41.91a3 3 0 0 1 3-3h49a3 3 0 0 1 3 3v49a3 3 0 0 1-3 3h-49a3 3 0 0 1-3-3z')
							path#ibkad(d='M304.4 44.4c-44.55 0-63.8 29.7-63.8 29.7V34.5h63.8z')
							path#ibkaf(d='M282.4 47.7S271.08 91.84 234 75.42c.47 7.81 5.03 16.02 15.4 15.03 10.37-.99 27.02-9.65 33-42.75z')
							path#ibkag(d='M238.4 101.97s70.68-5.51 39-67.47c10.4.57 28.1 8.3 28.1 26.98 0 16.92-21.98 37.75-67.1 40.49z')
							path#ibkah(d='M282.4 47.7S271.08 90.76 234 70.8c.47 7.86 5.03 16.5 15.4 16.5 10.37 0 27.02-7.07 33-39.6z')
							path#ibkaa(d='M238.4 98.3s69.14-5.81 42.9-63.8c8.8.47 24.2 7.07 24.2 24.2s-22.79 39.29-67.1 39.6z')
							path#ibkal(d='M285.7 68.6s10.63 3.67 2.2 18.7c15.03-11.73 18.7-19.07 20.9-30.8 2.2-11.73-13.94-21.63-18.7-24.2-4.77-2.57-13.2-3.3-13.2-3.3z')
							lineargradient#ibkae(x1='286.39', x2='258.6', y1='74.1', y2='34.5', gradientunits='userSpaceOnUse')
								stop(offset='0', stop-color='#5d2a00')
								stop(offset='1', stop-color='#7d4a1b')
							lineargradient#ibkai(x1='262.4', x2='254', y1='87.3', y2='47.7', gradientunits='userSpaceOnUse')
								stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
								stop(offset='1', stop-color='#fcd369', stop-opacity='0')
							lineargradient#ibkaj(x1='278.49', x2='265.4', y1='98.3', y2='34.5', gradientunits='userSpaceOnUse')
								stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
								stop(offset='1', stop-color='#fcd369', stop-opacity='0')
							lineargradient#ibkam(x1='276.9', x2='308.9', y1='77.3', y2='39', gradientunits='userSpaceOnUse')
								stop(offset='0', stop-color='#fbd25d')
								stop(offset='.7', stop-color='#fbd25d', stop-opacity='0')
								stop(offset='1', stop-color='#fbd25d', stop-opacity='0')
							clippath#ibkak
								use(xlink:href='#ibkaa')
							clippath#ibkac
								use(xlink:href='#ibkab')
						g
							g(transform='translate(-232 -27)')
								use(fill='#7d4a1b', xlink:href='#ibkab')
							g(clip-path='url(#ibkac)', transform='translate(-232 -27)')
								use(fill='#027e66', xlink:href='#ibkad')
								use(fill='url(#ibkae)', xlink:href='#ibkad')
							g(transform='translate(-232 -27)')
								use(fill='#0b1514', xlink:href='#ibkaf')
							g(transform='translate(-232 -27)')
								use(fill='#0b1514', xlink:href='#ibkag')
							g(transform='translate(-232 -27)')
								use(fill='#f2c053', xlink:href='#ibkah')
								use(fill='url(#ibkai)', xlink:href='#ibkah')
							g(transform='translate(-232 -27)')
								use(fill='#fbd25d', xlink:href='#ibkaa')
								use(fill='url(#ibkaj)', xlink:href='#ibkaa')
							g(clip-path='url(#ibkak)', transform='translate(-232 -27)')
								use(fill='#e7a946', xlink:href='#ibkal')
								use(fill='url(#ibkam)', xlink:href='#ibkal')

					p лаборатория антикризисных исследований

				+e.P.copyright 1998 — 2018 © «Лаборатория антикризисных исследований» Ликвидация через банкротство предприятий, организаций ООО, ЗАО, ИП

			+e.col
				ul
					li: a(href='#!') О компании
					li: a(href='#!') Услуги
					li: a(href='#!') Реализованные проекты
					li: a(href='#!') Цены
					li: a(href='#!') Контакты

			+e.col
				+e.info-item.info-item._tel
					.info-item__icon
						svg.icon-tel(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='29', height='28', viewbox='0 0 29 28')
							defs
								path#5fp4a(d='M935.67 54.4c.53.52.81 1.15.81 1.8 0 .65-.27 1.29-.8 1.83-.22.24-.45.46-.68.68-.33.32-.65.62-.93.95 0 .02-.01.02-.02.03a3.98 3.98 0 0 1-3.38 1.3c-1.81-.12-3.43-.8-4.65-1.37a24.86 24.86 0 0 1-8.28-6.48 22.7 22.7 0 0 1-4.04-6.73 9.24 9.24 0 0 1-.68-3.91c.09-.96.47-1.78 1.15-2.46l1.8-1.8v-.02c.53-.5 1.16-.77 1.8-.77.65 0 1.26.26 1.77.77.35.32.68.66 1 .98.15.17.32.34.49.5l1.44 1.44c1.1 1.11 1.1 2.55 0 3.66l-.44.44c-.4.4-.8.81-1.23 1.2.32.72.77 1.42 1.43 2.26a18.13 18.13 0 0 0 4.34 3.95c.16.1.34.19.53.28l.4.21 1.67-1.66a2.55 2.55 0 0 1 1.81-.81c.66 0 1.28.28 1.79.82zm-1.02 1l-2.9-2.92h-.02c-.16-.19-.43-.4-.76-.4s-.62.22-.8.4l-1.8 1.8c-.1.1-.37.37-.8.37-.18 0-.35-.04-.53-.13l-.06-.04c-.16-.1-.34-.18-.53-.28-.2-.1-.43-.21-.65-.35a19.39 19.39 0 0 1-4.69-4.26 11.56 11.56 0 0 1-1.73-2.84c-.1-.3-.18-.74.28-1.2l.02-.02c.46-.41.89-.83 1.33-1.29l.46-.45c.56-.56.56-1.08 0-1.64l-1.45-1.44-.5-.51c-.32-.33-.63-.64-.95-.94l-.02-.02a1.13 1.13 0 0 0-.77-.37c-.27 0-.54.13-.8.38l-1.8 1.8c-.44.43-.68.94-.73 1.56-.08.97.1 2 .59 3.3.8 2.16 2 4.16 3.8 6.33 2.19 2.6 4.81 4.65 7.8 6.1a11.48 11.48 0 0 0 4.37 1.24c.82 0 1.45-.27 1.99-.84.32-.38.67-.73 1.02-1.05l.64-.65c.54-.56.54-1.11 0-1.65zm-8.71-14.28a.72.72 0 0 1 .82-.58 8.15 8.15 0 0 1 6.7 6.7c.06.38-.2.75-.59.82h-.12a.7.7 0 0 1-.7-.58 6.72 6.72 0 0 0-1.9-3.64 6.7 6.7 0 0 0-3.64-1.9.7.7 0 0 1-.57-.82zm11.47 6.72l-.12.01a.7.7 0 0 1-.7-.59 11.95 11.95 0 0 0-3.37-6.48 12.01 12.01 0 0 0-6.5-3.37.71.71 0 1 1 .23-1.4c2.76.47 5.27 1.77 7.27 3.76 2 2 3.3 4.5 3.77 7.26a.7.7 0 0 1-.58.81z')
								lineargradient#5fp4b(x1='928', x2='923', y1='61', y2='36', gradientunits='userSpaceOnUse')
									stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
									stop(offset='1', stop-color='#fcd369', stop-opacity='0')
							g
								g(transform='translate(-911 -34)')
									use(fill='#e4aa46', xlink:href='#5fp4a')
									use(fill='url(#5fp4b)', xlink:href='#5fp4a')

					+e.A(href='tel:+74956264131') +7 (495) 626 41 31

				+e.info-item.info-item
					.info-item__icon
						svg.icon-loc(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22', height='28', viewbox='0 0 22 28')
							defs
								path#ktdsa(d='M585 43.02a10.86 10.86 0 0 1-.87 4.2c-1.02 2.54-3.28 6.44-8.2 10.62a.65.65 0 0 1-.84 0c-4.95-4.18-7.2-8.08-8.22-10.63a10.26 10.26 0 0 1-.87-4.19c0-5.52 4.26-10.02 9.5-10.02 5.23 0 9.49 4.5 9.5 10.02zm-1.35 0c0-4.75-3.66-8.61-8.16-8.61-4.49 0-8.15 3.86-8.15 8.6 0 .56.05 1.1.15 1.64v.04l.05.22v.01c.13.59.31 1.17.55 1.71l.01.02c.93 2.32 2.97 5.87 7.4 9.73 4.42-3.86 6.46-7.4 7.39-9.73v-.02c.25-.55.44-1.12.56-1.7v-.02l.05-.22v-.03a9 9 0 0 0 .15-1.64zm-2.13.11c0 3.5-2.7 6.36-6.03 6.36-3.32 0-6.02-2.85-6.02-6.36 0-3.5 2.7-6.36 6.02-6.36 3.33 0 6.03 2.85 6.03 6.36zm-1.34 0c0-2.72-2.1-4.95-4.69-4.95a4.83 4.83 0 0 0-4.68 4.95c0 2.73 2.1 4.95 4.68 4.95a4.83 4.83 0 0 0 4.7-4.95z')
								lineargradient#ktdsb(x1='578', x2='573', y1='58', y2='33', gradientunits='userSpaceOnUse')
									stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
									stop(offset='1', stop-color='#fcd369', stop-opacity='0')
							g
								g(transform='translate(-564 -31)')
									use(fill='#e4aa46', xlink:href='#ktdsa')
									use(fill='url(#ktdsb)', xlink:href='#ktdsa')


					.info-item__text
						+e.P г. Москва,
						+e.P Большой Головин переулок, д.3,
						+b.A.link-decor(href='#!') Карта проезда

				+e.info-item.info-item
					.info-item__icon
						svg.icon-mail(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='29', height='22', viewbox='0 0 29 22')
							defs
								path#8ju0a(d='M938 80.06v12.89a3.06 3.06 0 0 1-3.06 3.05h-18.88a3.06 3.06 0 0 1-3.06-3.05v-12.9a3.06 3.06 0 0 1 3.06-3.05h18.89a3.05 3.05 0 0 1 3.05 3.06zm-1.4 12.89v-12.9c0-.9-.74-1.65-1.66-1.65h-18.88c-.92 0-1.66.74-1.66 1.66v12.89c0 .91.74 1.65 1.66 1.65h18.89c.91 0 1.66-.74 1.66-1.65zm-1.7-.79a.7.7 0 0 1-.96 1.01l-6.21-5.9-1.75 1.56a.7.7 0 0 1-.93.01l-1.7-1.51-6.25 5.84a.7.7 0 0 1-.96-1.02l6.17-5.76-6.2-5.53a.7.7 0 1 1 .93-1.04l6.7 5.98a.98.98 0 0 1 .13.12l1.64 1.46 8.43-7.55a.7.7 0 0 1 .94 1.04l-6.11 5.47z')
								lineargradient#8ju0b(x1='927', x2='924', y1='96', y2='77', gradientunits='userSpaceOnUse')
									stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
									stop(offset='1', stop-color='#fcd369', stop-opacity='0')
							g
								g(transform='translate(-911 -75)')
									use(fill='#e4aa46', xlink:href='#8ju0a')
									use(fill='url(#8ju0b)', xlink:href='#8ju0a')

					+b.A.link-decor(href='mailto:labai@labai.ru') labai@labai.ru

			+e.col
				-socials = {classMod: 'footer__socials', title: 'Наши соц. сети'}
				include ../components/socials

				+e.P.dev Создание сайта
					br
					+b.A.link-decor(href='http://akticom.ru/' target='_blank') Актиком

//end footer