if expandText ? expandText : expandText = []

//begin expand-text
+b.SECTION.expand-text(class= expandTextClass ? expandTextClass : '')
	+e.container.container
		+e.title.title-lg
			h2 Особенности банкротства юридических лиц

		+e.descr
			p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
			p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

		+e.content
			-i = 0
			while i < 2
				+e.content-item
					+e.content-title
						h6 Теперь о выгоде банкротства для каждого участника:

					ul
						li
							p Выгода проведения процедуры банкротства для Должника - это списание задолженности предприятия перед кредиторами и как правило ликвидация организации, т.к. в нашей стране практика финансового оздоровления предприятий практически отсутствует.
							p Однако взять и обанкротиться не так уж и просто. Для этого необходима тщательная подготовка к банкротству, которую осуществляют наши специалисты (юристы, бухгалтера, арбитражные управляющие), а именно:

							ul
								li - изучение специалистом деятельности организации Должника за 3 предыдущих года с выдачей предварительного анализа возможных последствий для Должника при банкротстве,
								li - устранение неблагоприятных факторов в деятельности Должника (восстановление бухгалтерской отчетности, первичных документов и т.д.),
								li - при банкротстве должника мы обязательно вводим только своего арбитражного управляющего, т.к. только таким образом можно контролировать процедуру банкротства.
								li - в процессе банкротства мы не допускаем привлечения к субсидиарной и уголовной ответственности контролирующее Должника лицо.
					-i++

		+e.BUTTON.btn.btn._grey.js-change-text(type='button')
			span(data-change-text='Свернуть' data-default-text='ЧИТАТЬ ПОЛНОСТЬЮ') ЧИТАТЬ ПОЛНОСТЬЮ

//end expand-text