extends ../extend/default

block variables
	-title = 'Вопрос-ответ';
	-headerClass = 'header_entry';
	-footerClass = 'footer_entry';

block main
	main.content.content_default

		//begin faq
		+b.SECTION.faq._section
			+e.container.container
				+e.breadcrumb.breadcrumb._black(data-anim='fade-x' data-anim-delay='1')
					ul
						li: a(href='#!') Главная
						li.is-active: a(href='#!') Вопрос-ответ

				+e.title.title-xs(data-anim='fade-y')
					h2 Вопрос-ответ

				+b.accordion._faq.js-accordion(data-anim-stagger='fade-y' data-stagger-delay='0.15' data-anim-duration='0.15')
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Какие ограничения существуют для кандидатур независимых внешних управляющих, которые могут войти в состав временной администрации?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Какие документы прилагаются к заявлению о признании финансового ООО банкротом?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Кто возмещает расходы временной администрации при проведении процедуры признания банкротом страховой компании с долгами и очевидной финансовой несостоятельностью?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Как формируется стоимость ликвидации компаний с долгами?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Какие ограничения существуют для кандидатур независимых внешних управляющих, которые могут войти в состав временной администрации?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Какие документы прилагаются к заявлению о признании финансового ООО банкротом?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Кто возмещает расходы временной администрации при проведении процедуры признания банкротом страховой компании с долгами и очевидной финансовой несостоятельностью?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Как формируется стоимость ликвидации компаний с долгами?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
		//end faq

		//begin form-section
		+b.SECTION.form-section._has-msg._padding
			+e.container.container(data-anim-stagger='fade-x')
				+e.top._sm
					+e.top-title.title-xs
						h4 Задайте свой вопрос юристу по банкротству

				+e.FORM.form(action='#!' method='POST')
					+e.form-row
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваше имя' name='' required)
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваш телефон' name='' required)
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваш e-mail' name='' required)
					+e.form-message
						+e.TEXTAREA(placeholder='Комментарий' name='')

					+b.LABEL.btn._grey.form-section__form-submit
						span Задать вопрос
						+e.INPUT(type='submit' value='')

				+e.agree
					+e.P Нажимая на кнопку "Задать вопрос", вы даете
						+b.A.link-decor(href='#!') согласие на обработку персональных данных
						br
						= ' '
						| и соглашаетесь c
						+b.A.link-decor(href='#!') политикой конфиденциальности.
		//end form-section