extends ../extend/default

block variables
	-title = 'Банкротство физических лиц';
	-googleMap = true;
	-headerClass = 'header_entry';
	-footerClass = 'footer_entry';

block main
	main.content

		//begin screen
		+b.SECTION.screen._bankrupt
			+e.container.container
				+e.breadcrumb.breadcrumb(data-anim='fade-x' data-anim-delay='1')
					ul
						li: a(href='#!') Главная
						li.is-active: a(href='#!') Банкротство юридических лиц

				+e.inner(data-anim-stagger='fade-y' data-anim-delay='1')
					+e.main-title
						h1 Банкротство физических лиц в Москве и Московской области
					+e.title
						h2 помогаем правильно списать долги и сохранить имущество

					+e.form-wrap
						+e.FORM.form(action='#!' method='POST')
							+e.form-row
								+e.form-field
									+e.INPUT.form-input(type='text' placeholder='Ваше имя' name='' required)
								+e.form-field
									+e.INPUT.form-input(type='text' placeholder='Ваш Номер телефона' name='' required)

								+e.form-field
									+b.LABEL.btn._grey.screen__form-submit-btn
										span Списать долг
										+e.INPUT(type='submit' value='')

							+e.P Нажимая на кнопку "Списать долг", вы даете
								+b.A.link-decor(href='#!') согласие на обработку персональных данных
								br
								= ' '
								| и соглашаетесь c
								+b.A.link-decor(href='#!') политикой конфиденциальности.

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/screen_bankruptcy_bg.jpg")
		//end screen

		//begin hover-tabs
		+b.SECTION.hover-tabs
			+e.container.container
				+e.text(data-anim='fade-x' data-anim-delay='0.5')

					+e.item
						+e.item-inner
							+e.title.title-md
								h2 Мы банкротим

							+e.descr
								p "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом. Необходимо тщательно оценить свои действия, чтобы они не могли быть расценены кредиторами, управляющим и судом как недобросовестные в деле о банкротстве физического лица.

					+e.item
						+e.item-inner
							+e.title.title-md
								h2 Мы банкротим 2

							+e.descr
								p "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом.

					+e.item
						+e.item-inner
							+e.title.title-md
								h2 Мы банкротим 3

							+e.descr
								p "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом. Необходимо тщательно оценить свои действия, чтобы они не могли быть расценены кредиторами, управляющим и судом как недобросовестные в деле о банкротстве физического лица. "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом.


				+e.actions(data-anim-stagger='fade-y' data-anim-duration='1')
					+e.A.actions-btn.is-active(href='#!')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='36', viewbox='0 0 35 36')
							defs
								path#1mt5a(d='M732.88 2629.53c-.21-.66.01-1.38.56-1.8l14.02-10.56a.89.89 0 0 1 1.08 0l14.02 10.57c.55.41.77 1.13.56 1.79-.21.66-.82 1.1-1.5 1.1h-.72v14.58h.5c.5 0 .9.42.9.92 0 .51-.4.92-.9.92h-26.8c-.5 0-.9-.4-.9-.92 0-.5.4-.92.9-.92h.5v-14.46-.12h-.72c-.69 0-1.29-.44-1.5-1.1zm15.93 15.68v-14.46-.12h-1.63v14.58zm-6.86-14.46l.01-.12h-1.64l.01.12v14.46h1.62zm-3.43 14.46v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm-3.42-14.58h-1.64v14.58h1.63v-14.46-.12zm-20.6-1.84h25.84l-12.92-9.74zm28.92 20.29c0 .5-.4.92-.9.92h-30.2c-.5 0-.9-.41-.9-.92 0-.5.4-.92.9-.92h30.2c.5 0 .9.41.9.92z')
							g
								g(transform='translate(-730 -2615)')
									use(xlink:href='#1mt5a')
						h4 Юридические лица
						+e.actions-btn-bg(style='background-image: url(static/img/bg/hover-tabs_bg-1.jpg)')

					+e.A.actions-btn(href='#!')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='36', viewbox='0 0 35 36')
							defs
								path#1mt5a(d='M732.88 2629.53c-.21-.66.01-1.38.56-1.8l14.02-10.56a.89.89 0 0 1 1.08 0l14.02 10.57c.55.41.77 1.13.56 1.79-.21.66-.82 1.1-1.5 1.1h-.72v14.58h.5c.5 0 .9.42.9.92 0 .51-.4.92-.9.92h-26.8c-.5 0-.9-.4-.9-.92 0-.5.4-.92.9-.92h.5v-14.46-.12h-.72c-.69 0-1.29-.44-1.5-1.1zm15.93 15.68v-14.46-.12h-1.63v14.58zm-6.86-14.46l.01-.12h-1.64l.01.12v14.46h1.62zm-3.43 14.46v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm-3.42-14.58h-1.64v14.58h1.63v-14.46-.12zm-20.6-1.84h25.84l-12.92-9.74zm28.92 20.29c0 .5-.4.92-.9.92h-30.2c-.5 0-.9-.41-.9-.92 0-.5.4-.92.9-.92h30.2c.5 0 .9.41.9.92z')
							g
								g(transform='translate(-730 -2615)')
									use(xlink:href='#1mt5a')
						h4 Финансовые организации
						+e.actions-btn-bg(style='background-image: url(static/img/bg/hover-tabs_bg-1.jpg)')

					+e.A.actions-btn(href='#!')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='36', viewbox='0 0 35 36')
							defs
								path#1mt5a(d='M732.88 2629.53c-.21-.66.01-1.38.56-1.8l14.02-10.56a.89.89 0 0 1 1.08 0l14.02 10.57c.55.41.77 1.13.56 1.79-.21.66-.82 1.1-1.5 1.1h-.72v14.58h.5c.5 0 .9.42.9.92 0 .51-.4.92-.9.92h-26.8c-.5 0-.9-.4-.9-.92 0-.5.4-.92.9-.92h.5v-14.46-.12h-.72c-.69 0-1.29-.44-1.5-1.1zm15.93 15.68v-14.46-.12h-1.63v14.58zm-6.86-14.46l.01-.12h-1.64l.01.12v14.46h1.62zm-3.43 14.46v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm-3.42-14.58h-1.64v14.58h1.63v-14.46-.12zm-20.6-1.84h25.84l-12.92-9.74zm28.92 20.29c0 .5-.4.92-.9.92h-30.2c-.5 0-.9-.41-.9-.92 0-.5.4-.92.9-.92h30.2c.5 0 .9.41.9.92z')
							g
								g(transform='translate(-730 -2615)')
									use(xlink:href='#1mt5a')
						h4 Физические лица
						+e.actions-btn-bg(style='background-image: url(static/img/bg/hover-tabs_bg-1.jpg)')
		//end hover-tabs

		//begin links-block
		+b.SECTION.links-block
			+e.container.container
				+e.title.title-lg(data-anim='fade-y')
					h2 осуществляя банкротство мы предлагаем

					-
						listBlock = [
						'Сопровождение процедуры банкротства',
						'Представление интересов в арбитражном суде',
						'Проверка документации, анализ сделок на предмет признания их недействительными',
						'Сбор документов, подготовка и подача заявления о признании банкротом'
						]

				+e.UL.list
					for linksText, i in listBlock
						li(data-anim='fade-y' data-stagger-delay= `${i * 0.2}`): a(href='#!' data-popup-target='call-popup')
							svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
								defs
									path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
								g
									g(transform='translate(-1294 -7024)')
										use(xlink:href='#vhfqa')
							span= linksText
		//end links-block

		//begin stages
		+b.SECTION.stages._steps
			+e.container.container
				+e.title.title-lg
					h2 ЭТАПЫ процедуры банкротства для

				+e.tabs.c-tabs.c-tabs_stages
					.c-tabs__nav
						button.c-tabs__btn(class='is-active' type='button') должника
						button.c-tabs__btn(type='button') КРЕДИТОРА

					.c-tabs__for
						.c-tabs__tab
							//begin steps
							+b.steps
								+e.nav(data-anim='fade-y' data-anim-delay='0.2')
									+e.nav-item(class='is-active' onclick='')
										i
											span 1
										p Сбор документов
									+e.nav-item(onclick='')
										i
											span 2
										p Подготовка заявления на банкротство
									+e.nav-item(onclick='')
										i
											span 3
										p Расмотрение заявления
											br
											| в суде
									+e.nav-item(onclick='')
										i
											span 4
										p Признание банкротства
									+e.nav-item(onclick='')
										i
											span 5
										p Проведение собрания кредиторов
									+e.nav-item(onclick='')
										i
											span 6
										p Сдача в суд отчета о процедуре
									+e.nav-item(onclick='')
										i
											span 7
										p Решение
											br
											| о списании долга

								-n = 0
								while n < 7
									+e.box(class= n === 0 ? 'is-active' : '')
										+e.box-top(data-anim='fade-y' data-anim-delay='0.3')
											+e.box-top-icon.
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="84" height="102" viewBox="0 0 84 102"><defs><path id="o1kxa" d="M448.26 1879.75h22.1v4.25h-22.1zm0 8.5h4.42v4.25h-4.42zm8.85 0h4.42v4.25h-4.42zm61.89-2.13v76.5a6.5 6.5 0 0 1-6.63 6.38h-70.74a6.5 6.5 0 0 1-6.63-6.38v-89.25a6.5 6.5 0 0 1 6.63-6.37h57.48c.58 0 1.14.22 1.56.62l17.68 17c.42.4.65.94.65 1.5zm-4.42.88l-13.26-12.75v7.62c0 1.18.99 2.13 2.2 2.13h4.43v4.25h-4.42a6.5 6.5 0 0 1-6.64-6.38v-10.62h-55.26c-1.22 0-2.2.95-2.2 2.12v89.25c0 1.18.98 2.13 2.2 2.13h70.74c1.22 0 2.2-.95 2.2-2.13zm-6.63 33.12c0 5.66-2.57 10.74-6.63 14.25v21.88c0 1.17-1 2.12-2.21 2.12-.5 0-1-.16-1.39-.46l-9.67-7.44-9.67 7.44c-.95.73-2.34.58-3.1-.33a2.08 2.08 0 0 1-.5-1.33v-21.87a18.77 18.77 0 0 1-6.62-14.26c0-10.56 8.9-19.12 19.9-19.12 10.98 0 19.89 8.56 19.89 19.12zm-19.9 19.13c-3.17 0-6.18-.72-8.84-1.99v14.57l7.46-5.74c.8-.62 1.96-.62 2.76 0l7.46 5.74v-14.58a20.5 20.5 0 0 1-8.84 2zm15.48-19.13c-.01-8.2-6.94-14.86-15.48-14.87-8.54 0-15.47 6.66-15.47 14.87 0 8.22 6.93 14.88 15.47 14.88 8.55 0 15.48-6.66 15.48-14.88zm-4.42 0c-.01 5.87-4.96 10.62-11.06 10.63-6.1 0-11.05-4.76-11.05-10.63 0-5.87 4.95-10.62 11.05-10.62 6.1 0 11.06 4.75 11.06 10.62zm-4.43 0a6.5 6.5 0 0 0-6.63-6.37 6.5 6.5 0 0 0-6.63 6.37 6.5 6.5 0 0 0 6.63 6.38 6.5 6.5 0 0 0 6.63-6.38zm-42-14.87v17h8.85v4.25h-11.06a2.17 2.17 0 0 1-2.2-2.13v-21.25c0-1.17.98-2.12 2.2-2.12h17.69v4.25zm-4.42 27.62h4.42v4.25h-4.42zm8.85 0h8.84v4.25h-8.84zm-8.85 8.5h19.9v4.25h-19.9zm0 8.5h19.9v4.25h-19.9z"/></defs><g><g transform="translate(-435 -1867)"><use fill="#f2d4a2" xlink:href="#o1kxa"/></g></g></svg>
											+e.box-top-text
												+e.box-title.title-sm
													h3 Подготовка заявления на банкротство
												p Оно может быть подано вашими кредиторами или Вами, если вы не можете расплатиться по обязательствам, независимо от размера задолженности.

										+e.box-bot(data-anim='fade-y' data-anim-delay='0.4')
											p Срок проведения банкротства организации составляет около 6 месецев, однако в некоторых случаях можеть быть увеличен. Точные сроки процедуры банкротства можно узнать на консультации.
										-n++
								//end steps
						.c-tabs__tab
							//begin steps
							+b.steps
								+e.nav
									+e.nav-item(class='is-active' onclick='')
										i
											span 1
										p Проведение анализа задолженности
									+e.nav-item(onclick='')
										i
											span 2
										p Уведомление должника и выяснение причин просрочек
									+e.nav-item(onclick='')
										i
											span 3
										p Направление должнику претензии по поводу неуплаты
									+e.nav-item(onclick='')
										i
											span 4
										p Привлечение коллекторов
									+e.nav-item(onclick='')
										i
											span 5
										p Направление уведомления о подготовке передачи дела в суд
									+e.nav-item(onclick='')
										i
											span 6
										p Подготовка документов должника для передачи в юридический отдел
									+e.nav-item(onclick='')
										i
											span 7
										p Судебное разбирательство

								-n = 0
								while n < 7
									+e.box(class= n === 0 ? 'is-active' : '')
										+e.box-top
											+e.box-top-icon.
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="84" height="102" viewBox="0 0 84 102"><defs><path id="o1kxa" d="M448.26 1879.75h22.1v4.25h-22.1zm0 8.5h4.42v4.25h-4.42zm8.85 0h4.42v4.25h-4.42zm61.89-2.13v76.5a6.5 6.5 0 0 1-6.63 6.38h-70.74a6.5 6.5 0 0 1-6.63-6.38v-89.25a6.5 6.5 0 0 1 6.63-6.37h57.48c.58 0 1.14.22 1.56.62l17.68 17c.42.4.65.94.65 1.5zm-4.42.88l-13.26-12.75v7.62c0 1.18.99 2.13 2.2 2.13h4.43v4.25h-4.42a6.5 6.5 0 0 1-6.64-6.38v-10.62h-55.26c-1.22 0-2.2.95-2.2 2.12v89.25c0 1.18.98 2.13 2.2 2.13h70.74c1.22 0 2.2-.95 2.2-2.13zm-6.63 33.12c0 5.66-2.57 10.74-6.63 14.25v21.88c0 1.17-1 2.12-2.21 2.12-.5 0-1-.16-1.39-.46l-9.67-7.44-9.67 7.44c-.95.73-2.34.58-3.1-.33a2.08 2.08 0 0 1-.5-1.33v-21.87a18.77 18.77 0 0 1-6.62-14.26c0-10.56 8.9-19.12 19.9-19.12 10.98 0 19.89 8.56 19.89 19.12zm-19.9 19.13c-3.17 0-6.18-.72-8.84-1.99v14.57l7.46-5.74c.8-.62 1.96-.62 2.76 0l7.46 5.74v-14.58a20.5 20.5 0 0 1-8.84 2zm15.48-19.13c-.01-8.2-6.94-14.86-15.48-14.87-8.54 0-15.47 6.66-15.47 14.87 0 8.22 6.93 14.88 15.47 14.88 8.55 0 15.48-6.66 15.48-14.88zm-4.42 0c-.01 5.87-4.96 10.62-11.06 10.63-6.1 0-11.05-4.76-11.05-10.63 0-5.87 4.95-10.62 11.05-10.62 6.1 0 11.06 4.75 11.06 10.62zm-4.43 0a6.5 6.5 0 0 0-6.63-6.37 6.5 6.5 0 0 0-6.63 6.37 6.5 6.5 0 0 0 6.63 6.38 6.5 6.5 0 0 0 6.63-6.38zm-42-14.87v17h8.85v4.25h-11.06a2.17 2.17 0 0 1-2.2-2.13v-21.25c0-1.17.98-2.12 2.2-2.12h17.69v4.25zm-4.42 27.62h4.42v4.25h-4.42zm8.85 0h8.84v4.25h-8.84zm-8.85 8.5h19.9v4.25h-19.9zm0 8.5h19.9v4.25h-19.9z"/></defs><g><g transform="translate(-435 -1867)"><use fill="#f2d4a2" xlink:href="#o1kxa"/></g></g></svg>
											+e.box-top-text
												+e.box-title.title-sm
													h3 Подготовка заявления на банкротство
												p Оно может быть подано вашими кредиторами или Вами, если вы не можете расплатиться по обязательствам, независимо от размера задолженности.

										+e.box-bot
											p Срок проведения банкротства организации составляет около 6 месецев, однако в некоторых случаях можеть быть увеличен. Точные сроки процедуры банкротства можно узнать на консультации.
										-n++
								//end steps

		//end stages

		//begin tariff
		+b.SECTION.tariff
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Выберете подходящий вам тариф

				+e.inner(data-anim-stagger='fade-y')

					+e.item._top
						+e.item-title.title-sm
							h5 Устная консультация
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm от 5 000 рублей
						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ

					+e.item
						+e.item-title._top.title-sm
							h5 Первичный анализ ситуации
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm от 50 000 рублей
						+e.item-descr
							p анализ ситуации и подготовка пакета предложений
							p выявление возможных рисков
						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ

					+e.item
						+e.item-hit ХИТ
						+e.item-title._top.title-sm
							h5 Комплексный анализ ситуации
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm договорная
						+e.item-descr
							p финансовый анализ
							p анализ сделок должника ирекоменлацциии по снижению рисков

						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ

					+e.item._top
						+e.item-title.title-sm
							h5 Сопровождение банкростова и ликвидация
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm договорная
						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ
		//end tariff

		//begin suggest
		+b.SECTION.suggest
			+e.container.container
				+e.title.title-lg(data-anim='fade-y')
					h2 Мы предлагаем банкротство физических лиц следующими способами:

				+e.tabs.c-tabs
					.c-tabs__nav(data-anim='fade-y' data-anim-delay='0.15')
						button.c-tabs__btn(class='is-active' type='button') Реализация имущества гражданина
						button.c-tabs__btn(type='button') реструктуризация долго гражданина

					.c-tabs__for(data-anim='fade-y' data-anim-delay='0.3')
						-i = 0
						while i < 2
							.c-tabs__tab
								+e.content
									+e.content-row
										+e.content-item
											+e.content-icon.
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="57" height="66"
															viewBox="0 0 57 66">
														<defs>
																<path id="q6f2a"
																			d="M322.14 2560.25h13.57v2.75h-13.57zm0 5.5h2.72v2.75h-2.72zm5.43 0h2.72v2.75h-2.72zm38-1.38v17.88h-2.71v-17.3l-8.15-8.26v4.93c0 .76.61 1.38 1.36 1.38h2.72v2.75h-2.72a4.1 4.1 0 0 1-4.07-4.13v-6.87h-33.93c-.75 0-1.36.61-1.36 1.37v57.75c0 .76.61 1.38 1.36 1.38h23.07v2.75h-23.07a4.1 4.1 0 0 1-4.07-4.13v-57.75a4.1 4.1 0 0 1 4.07-4.12h35.29c.36 0 .7.14.96.4l10.85 11c.26.26.4.6.4.97zm5.43 34.38v5.5c0 .76-.6 1.37-1.36 1.37h-3.42c-.14.41-.3.81-.5 1.2l2.43 2.46c.53.53.53 1.4 0 1.94l-3.84 3.9c-.53.53-1.39.53-1.92 0l-2.42-2.46c-.39.19-.78.35-1.18.5v3.46c0 .76-.61 1.38-1.36 1.38H352c-.75 0-1.36-.62-1.36-1.38v-3.46c-.4-.15-.8-.32-1.18-.5l-2.42 2.45c-.53.54-1.4.54-1.92 0l-3.84-3.89a1.39 1.39 0 0 1 0-1.94l2.42-2.46c-.19-.39-.35-.79-.5-1.2h-3.41c-.75 0-1.36-.61-1.36-1.37v-5.5c0-.76.6-1.38 1.36-1.38h3.42c.14-.4.3-.8.49-1.2l-2.42-2.45a1.39 1.39 0 0 1 0-1.94l3.84-3.9a1.35 1.35 0 0 1 1.92 0l2.42 2.46c.38-.19.78-.35 1.18-.5v-3.47c0-.76.61-1.37 1.36-1.37h5.43c.75 0 1.36.61 1.36 1.37v3.47c.4.15.8.31 1.18.5l2.42-2.46a1.35 1.35 0 0 1 1.92 0l3.84 3.9c.53.53.53 1.4 0 1.94l-2.42 2.45c.18.4.35.8.5 1.2h3.41c.75 0 1.36.62 1.36 1.38zm-2.71 4.12v-2.75h-3.07c-.62 0-1.16-.42-1.32-1.03a9.72 9.72 0 0 0-1-2.47 1.39 1.39 0 0 1 .2-1.67l2.17-2.2-1.92-1.95-2.17 2.2c-.44.44-1.12.53-1.65.21a9.43 9.43 0 0 0-2.44-1.02c-.6-.16-1.02-.7-1.02-1.33v-3.11h-2.71v3.1c0 .64-.42 1.18-1.02 1.34-.86.22-1.68.57-2.44 1.02-.54.32-1.22.24-1.65-.2l-2.18-2.2-1.91 1.94 2.17 2.2c.44.44.52 1.13.2 1.67a9.7 9.7 0 0 0-1 2.47c-.16.61-.7 1.03-1.32 1.04h-3.07v2.74h3.07c.62 0 1.16.43 1.32 1.04.22.86.56 1.7 1 2.47.32.54.24 1.23-.2 1.67l-2.17 2.2 1.92 1.95 2.17-2.2a1.34 1.34 0 0 1 1.65-.22c.76.46 1.58.8 2.44 1.03.6.16 1.02.7 1.02 1.33v3.1h2.71v-3.1c0-.63.42-1.18 1.02-1.33a9.47 9.47 0 0 0 2.44-1.03 1.34 1.34 0 0 1 1.65.21l2.17 2.2 1.92-1.94-2.17-2.2a1.39 1.39 0 0 1-.2-1.67c.44-.77.78-1.6 1-2.48.16-.6.7-1.03 1.32-1.03zm-8.15-1.37c0 3.04-2.43 5.5-5.43 5.5-3 0-5.42-2.46-5.42-5.5s2.43-5.5 5.42-5.5c3 0 5.43 2.46 5.43 5.5zm-2.71 0a2.73 2.73 0 0 0-2.72-2.75 2.73 2.73 0 0 0-2.71 2.75 2.73 2.73 0 0 0 2.71 2.75c1.5 0 2.72-1.23 2.72-2.75zm-28.5 5.5h-2.72v-11.17a5.5 5.5 0 0 1-4.07-5.33 5.49 5.49 0 0 1 4.07-5.33v-8.42h2.72v8.42a5.49 5.49 0 0 1 4.07 5.33 5.5 5.5 0 0 1-4.07 5.33zm9.5-30.25h2.71v11h-2.71zm12.21 0h2.72v5.5h-2.72zm-20.35 13.75a2.73 2.73 0 0 0-2.72-2.75 2.73 2.73 0 0 0-2.71 2.75 2.73 2.73 0 0 0 2.71 2.75c1.5 0 2.72-1.23 2.72-2.75z"/>
														</defs>
														<g>
																<g transform="translate(-314 -2552)">
																		<use fill="#e4a13a" xlink:href="#q6f2a"/>
																</g>
														</g>
												</svg>

											+e.content-text
												+e.content-title
													h5 Преимущество данного подхода
												+e.UL.content-list
													li - Прекращение всех исполнительных производств
													li - Списание штрафов, пеней, нустоек
													li - Снятие запрета на выезд за границу

										+e.content-item
											+e.content-icon.
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="66" height="66" viewBox="0 0 66 66"><defs><path id="hidua" d="M855.25 2552v2.75H836v46.75h27.5v2.75h-29.99a5.64 5.64 0 0 0-5.75 5.46v.04a5.51 5.51 0 0 0 5.5 5.5h30.24v2.75h-30.25a8.26 8.26 0 0 1-8.24-8.53v-49.22c0-4.56 3.7-8.25 8.24-8.25zm-27.5 8.25v43.4a8.38 8.38 0 0 1 5.5-2.15v-46.75a5.5 5.5 0 0 0-5.5 5.5zm22 0v2.75h-5.5v5.5h-2.75v-6.88c0-.75.62-1.37 1.38-1.37zm-5.5 16.5h4.13v2.75h-5.5c-.76 0-1.38-.62-1.38-1.38v-6.87h6.88v2.75h-4.13zm-2.75 6.87h2.75v2.75h-2.75zm5.5 0h2.75v2.75H847zm-4.12 24.75h20.62v2.75h-20.62zm-5.5 0h2.75v2.75h-2.75zm33-17.92a19.25 19.25 0 1 1 2.75 0v5.78c1.6.57 2.75 2.1 2.75 3.9v13.74a4.13 4.13 0 1 1-8.25 0v-13.75c0-1.8 1.14-3.32 2.75-3.89zm17.87-19.2a16.5 16.5 0 1 0-33 0 16.5 16.5 0 0 0 33 0zm-15.12 28.87a1.37 1.37 0 1 0-2.75 0v13.75a1.37 1.37 0 1 0 2.75 0zm-2.75-30.25h2.75v2.75h-2.75zm6.87 0H880v2.75h-2.75zm-13.75 0h2.75v2.75h-2.75z"/></defs><g><g transform="translate(-825 -2552)"><use fill="#e4a13a" xlink:href="#hidua"/></g></g></svg>
											+e.content-text
												+e.content-title
													h5 Результат проделаной работы
												+e.UL.content-list
													li - Прекращение всех исполнительных производств
													li - Списание штрафов, пеней, нустоек
													li - Снятие запрета на выезд за границу

								+e.BUTTON.content-btn.btn._grey(type='button' data-popup-target='call-popup')
									span Оставить заявку

							-i++
		//end suggest

		//begin tariff
		+b.SECTION.tariff
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Выберете подходящий вам тариф

				+e.inner(data-anim-stagger='fade-y')

					+e.item._top
						+e.item-title.title-sm
							h5 Устная консультация
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm от 5 000 рублей
						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ

					+e.item
						+e.item-title._top.title-sm
							h5 Первичный анализ ситуации
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm от 50 000 рублей
						+e.item-descr
							p анализ ситуации и подготовка пакета предложений
							p выявление возможных рисков
						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ

					+e.item
						+e.item-hit ХИТ
						+e.item-title._top.title-sm
							h5 Комплексный анализ ситуации
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm договорная
						+e.item-descr
							p финансовый анализ
							p анализ сделок должника ирекоменлацциии по снижению рисков

						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ

					+e.item._top
						+e.item-title.title-sm
							h5 Сопровождение банкростова и ликвидация
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm договорная
						+e.BUTTON.item-btn.btn._grey(type='button' data-popup-target='call-popup')
							span ЗАКАЗАТЬ
		//end tariff

		//begin consult
		+b.SECTION.consult._docs
			+e.container.container
				+e.title(data-anim='fade-y')
					h2 Получите список документов для подачи на банкротство

				+e.form-wrap(data-anim='fade-y')
					+e.FORM(action='#!' method='POST')
						+e.form-field
							+e.INPUT(type='text' placeholder='Ваш email' name='' required)

						+e.form-submit
							+b.LABEL.btn._grey.consult__form-submit-btn
								span получить документы
								+e.INPUT(type='submit' value='')

						+e.P Нажимая на кнопку "Получить документы", вы даете
							+b.A.link-decor(href='#!') согласие на обработку персональных данных
							br
							= ' '
							| и соглашаетесь c
							+b.A.link-decor(href='#!') политикой конфиденциальности.

					script.
						function showMessageOnSucces () {
							$.fancybox.open('<div class="success-message"><p>Письмо успешно отправлено</p></div>');
						}

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/consult_bg-2.jpg")
		//end consult

		//begin facts
		+b.SECTION.facts
			+e.container.container
				+e.title.title-lg(style='background-image: url(static/img/bg/facts-title_bg.jpg)' data-anim='fade-y' data-anim-delay='0.1')
					h2 Факты о банкротстве, которые важно знать

				+e.row
					+e.item(data-anim='fade-x' data-anim-delay='0.25')
						+e.item-icon.
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="46" viewBox="0 0 46 46"><defs><path id="1cv3a" d="M570 6178c0 12.68-10.32 23-23 23s-23-10.32-23-23 10.32-23 23-23 23 10.32 23 23zm-1.77 0c0-11.7-9.52-21.23-21.23-21.23a21.26 21.26 0 0 0-21.23 21.23c0 11.7 9.52 21.23 21.23 21.23 11.7 0 21.23-9.52 21.23-21.23zm-9.14-9.5c.36.32.4.88.07 1.24l-14.15 15.92a.88.88 0 0 1-1.22.1l-8.84-7.07a.89.89 0 0 1 1.1-1.38l8.2 6.55 13.59-15.3a.88.88 0 0 1 1.25-.07z"/></defs><g><g transform="translate(-524 -6155)"><use xlink:href="#1cv3a"/></g></g></svg>
						p Признавать себя банкротом можно один раз в пять лет

					+e.item(data-anim='fade-x' data-anim-delay='0.25')
						+e.item-icon.
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="46" viewBox="0 0 46 46"><defs><path id="1cv3a" d="M570 6178c0 12.68-10.32 23-23 23s-23-10.32-23-23 10.32-23 23-23 23 10.32 23 23zm-1.77 0c0-11.7-9.52-21.23-21.23-21.23a21.26 21.26 0 0 0-21.23 21.23c0 11.7 9.52 21.23 21.23 21.23 11.7 0 21.23-9.52 21.23-21.23zm-9.14-9.5c.36.32.4.88.07 1.24l-14.15 15.92a.88.88 0 0 1-1.22.1l-8.84-7.07a.89.89 0 0 1 1.1-1.38l8.2 6.55 13.59-15.3a.88.88 0 0 1 1.25-.07z"/></defs><g><g transform="translate(-524 -6155)"><use xlink:href="#1cv3a"/></g></g></svg>
						p Признавать себя банкротом можно один раз в пять лет

				+e.row
					+e.item(data-anim='fade-x' data-anim-delay='0.25')
						+e.item-icon.
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="46" viewBox="0 0 46 46"><defs><path id="1cv3a" d="M570 6178c0 12.68-10.32 23-23 23s-23-10.32-23-23 10.32-23 23-23 23 10.32 23 23zm-1.77 0c0-11.7-9.52-21.23-21.23-21.23a21.26 21.26 0 0 0-21.23 21.23c0 11.7 9.52 21.23 21.23 21.23 11.7 0 21.23-9.52 21.23-21.23zm-9.14-9.5c.36.32.4.88.07 1.24l-14.15 15.92a.88.88 0 0 1-1.22.1l-8.84-7.07a.89.89 0 0 1 1.1-1.38l8.2 6.55 13.59-15.3a.88.88 0 0 1 1.25-.07z"/></defs><g><g transform="translate(-524 -6155)"><use xlink:href="#1cv3a"/></g></g></svg>
						p Признавать себя банкротом можно один раз в пять лет

					+e.item(data-anim='fade-x' data-anim-delay='0.25')
						+e.item-icon.
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="46" viewBox="0 0 46 46"><defs><path id="1cv3a" d="M570 6178c0 12.68-10.32 23-23 23s-23-10.32-23-23 10.32-23 23-23 23 10.32 23 23zm-1.77 0c0-11.7-9.52-21.23-21.23-21.23a21.26 21.26 0 0 0-21.23 21.23c0 11.7 9.52 21.23 21.23 21.23 11.7 0 21.23-9.52 21.23-21.23zm-9.14-9.5c.36.32.4.88.07 1.24l-14.15 15.92a.88.88 0 0 1-1.22.1l-8.84-7.07a.89.89 0 0 1 1.1-1.38l8.2 6.55 13.59-15.3a.88.88 0 0 1 1.25-.07z"/></defs><g><g transform="translate(-524 -6155)"><use xlink:href="#1cv3a"/></g></g></svg>
						p Признавать себя банкротом можно один раз в пять лет
		//end facts

		//begin geo-work
		+b.SECTION.geo-work(data-anim='fade-x' data-anim-duration='1')
			+e.title.title-sm
				h2 География работ
			+e.map-wrap
				+e.map
		//end geo-work

		//begin form-section
		+b.SECTION.form-section
			+e.container.container(data-anim-stagger='fade-x')
				+e.title.title-md
					h2 Банкротство юридических лиц
						br
						| на законных основаниях
				+e.FORM.form(action='#!' method='POST')
					+e.form-field
						+e.INPUT.form-input.input(type='text' placeholder='Ваше имя' name='' required)
					+e.form-field
						+e.INPUT.form-input.input(type='text' placeholder='Ваш телефон' name='' required)
					+e.form-field
						+b.LABEL.btn._grey.form-section__form-submit
							span Связаться с юристом
							+e.INPUT(type='submit' value='')

				+e.agree
					+e.P Нажимая на кнопку "Связаться с юристом", вы даете
						+b.A.link-decor(href='#!') согласие на обработку персональных данных
						br
						= ' '
						| и соглашаетесь c
						+b.A.link-decor(href='#!') политикой конфиденциальности.
		//end form-section

		//begin faq
		+b.SECTION.faq
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Популярные вопросы

				+b.accordion.faq__accordion(data-anim-stagger='fade-y')
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Сколько времени занимает банкротство?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Сколько времени занимает банкротство?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Сколько времени занимает банкротство?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
		//end faq

		//begin consult
		+b.SECTION.consult._bankrupt
			+e.container.container
				+e.title(data-anim='fade-y')
					h2 Задайте свой вопрос юристу по банкротству
				+e.sub-title(data-anim='fade-y')
					h4 Наш специалист свяжется с вами в течение рабочего дня

				+e.form-wrap(data-anim='fade-y')
					+e.FORM(action='#!' method='POST')
						+e.form-field
							+e.INPUT(type='text' placeholder='Имя' name='' required)

						+e.form-field
							+e.INPUT(type='text' placeholder='Телефон' name='' required)

						+e.form-field
							+e.INPUT(type='text' placeholder='Email' name='' required)

						+e.form-field
							+e.INPUT(type='text' placeholder='Комментарий' name='' required)

						+e.form-submit
							+b.LABEL.btn._grey.consult__form-submit-btn
								span оставить заявку
								+e.INPUT(type='submit' value='')

						+e.P Нажимая на кнопку "Оставить заявку", вы даете
							+b.A.link-decor(href='#!') согласие на обработку персональных данных
							br
							= ' '
							| и соглашаетесь c
							+b.A.link-decor(href='#!') политикой конфиденциальности.

					script.
						function showMessageOnSucces () {
							$.fancybox.open('<div class="success-message"><p>Письмо успешно отправлено</p></div>');
						}

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/consult_bg.jpg")
		//end consult

		//begin seo-text
		+b.SECTION.seo-text
			+e.container.container(data-anim-stagger='fade-y' data-stagger-delay='.2')
				+e.H3.title.title-md Банкротство юридических и физических лиц в Москве и Московской области

				p В конце декабря ушедшего года в очередной раз были изменены правила банкротства юридических лиц (Федеральный закон от 29 декабря 2014 г. № 482-ФЗ; далее – Закон). Новые нормы действуют чуть больше месяца – они вступили в силу 29 января. Практика по ним пока не накоплена, однако некоторые из новелл вызывают вопросы. Рассмотрим, в чем заключаются основные нововведения.
				p Условно поправки можно разделить на две части: к
					a.link-decor(href='#!') первой относятся изменения
					| , направленные на ужесточение условий для должников и сокращение возможностей для злоупотреблений с их стороны. Ко второй – поправки, уточняющие правила саморегулирования в сфере банкротства.

				+e.A.more-btn.btn._grey(href='#!')
					span ЧИТАТЬ ПОЛНОСТЬЮ
		//end seo-text