extends ../extend/default

block variables
	-title = 'Банкротство физических лиц';
	-googleMap = true;
	-headerClass = 'header_entry';
	-footerClass = 'footer_entry';

block main
	main.content

		//begin screen
		+b.SECTION.screen._bankrupt
			+e.container.container
				+e.breadcrumb.breadcrumb(data-anim='fade-x' data-anim-delay='1')
					ul
						li: a(href='#!') Главная
						li.is-active: a(href='#!') Банкротство финансовых компаний

				+e.inner(data-anim-stagger='fade-y' data-anim-delay='1')
					+e.main-title
						h1 Банкротство финансовых компаний в Москве и Московской области.
					+e.title
						h2 Поможем быстро вернуть долг законным способом

					+e.form-wrap
						+e.FORM.form(action='#!' method='POST')
							+e.form-row
								+e.form-field
									+e.INPUT.form-input(type='text' placeholder='Ваше имя' name='' required)
								+e.form-field
									+e.INPUT.form-input(type='text' placeholder='Ваш Номер телефона' name='' required)

								+e.form-field
									+b.LABEL.btn._grey.screen__form-submit-btn
										span связаться с юристом
										+e.INPUT(type='submit' value='')

							+e.P Нажимая на кнопку "Списать долг", вы даете
								+b.A.link-decor(href='#!') согласие на обработку персональных данных
								br
								= ' '
								| и соглашаетесь c
								+b.A.link-decor(href='#!') политикой конфиденциальности.

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/screen_bankruptcy_bg.jpg")
		//end screen

		//begin hover-tabs
		+b.SECTION.hover-tabs
			+e.container.container
				+e.text(data-anim='fade-x' data-anim-delay='0.5')

					+e.item
						+e.item-inner
							+e.title.title-md
								h2 Мы банкротим

							+e.descr
								p "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом. Необходимо тщательно оценить свои действия, чтобы они не могли быть расценены кредиторами, управляющим и судом как недобросовестные в деле о банкротстве физического лица.

					+e.item
						+e.item-inner
							+e.title.title-md
								h2 Мы банкротим 2

							+e.descr
								p "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом.

					+e.item
						+e.item-inner
							+e.title.title-md
								h2 Мы банкротим 3

							+e.descr
								p "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом. Необходимо тщательно оценить свои действия, чтобы они не могли быть расценены кредиторами, управляющим и судом как недобросовестные в деле о банкротстве физического лица. "Лаборатория антикризисных исследований" обращает Ваше внимание на то, что добросовестность действий физических лиц в ходе процедур банкротства и в преддверии него будет являться самым сложным моментом.


				+e.actions(data-anim-stagger='fade-y' data-anim-duration='1')
					+e.A.actions-btn.is-active(href='#!')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='36', viewbox='0 0 35 36')
							defs
								path#1mt5a(d='M732.88 2629.53c-.21-.66.01-1.38.56-1.8l14.02-10.56a.89.89 0 0 1 1.08 0l14.02 10.57c.55.41.77 1.13.56 1.79-.21.66-.82 1.1-1.5 1.1h-.72v14.58h.5c.5 0 .9.42.9.92 0 .51-.4.92-.9.92h-26.8c-.5 0-.9-.4-.9-.92 0-.5.4-.92.9-.92h.5v-14.46-.12h-.72c-.69 0-1.29-.44-1.5-1.1zm15.93 15.68v-14.46-.12h-1.63v14.58zm-6.86-14.46l.01-.12h-1.64l.01.12v14.46h1.62zm-3.43 14.46v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm-3.42-14.58h-1.64v14.58h1.63v-14.46-.12zm-20.6-1.84h25.84l-12.92-9.74zm28.92 20.29c0 .5-.4.92-.9.92h-30.2c-.5 0-.9-.41-.9-.92 0-.5.4-.92.9-.92h30.2c.5 0 .9.41.9.92z')
							g
								g(transform='translate(-730 -2615)')
									use(xlink:href='#1mt5a')
						h4 Юридические лица
						+e.actions-btn-bg(style='background-image: url(static/img/bg/hover-tabs_bg-1.jpg)')

					+e.A.actions-btn(href='#!')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='36', viewbox='0 0 35 36')
							defs
								path#1mt5a(d='M732.88 2629.53c-.21-.66.01-1.38.56-1.8l14.02-10.56a.89.89 0 0 1 1.08 0l14.02 10.57c.55.41.77 1.13.56 1.79-.21.66-.82 1.1-1.5 1.1h-.72v14.58h.5c.5 0 .9.42.9.92 0 .51-.4.92-.9.92h-26.8c-.5 0-.9-.4-.9-.92 0-.5.4-.92.9-.92h.5v-14.46-.12h-.72c-.69 0-1.29-.44-1.5-1.1zm15.93 15.68v-14.46-.12h-1.63v14.58zm-6.86-14.46l.01-.12h-1.64l.01.12v14.46h1.62zm-3.43 14.46v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm-3.42-14.58h-1.64v14.58h1.63v-14.46-.12zm-20.6-1.84h25.84l-12.92-9.74zm28.92 20.29c0 .5-.4.92-.9.92h-30.2c-.5 0-.9-.41-.9-.92 0-.5.4-.92.9-.92h30.2c.5 0 .9.41.9.92z')
							g
								g(transform='translate(-730 -2615)')
									use(xlink:href='#1mt5a')
						h4 Финансовые организации
						+e.actions-btn-bg(style='background-image: url(static/img/bg/hover-tabs_bg-1.jpg)')

					+e.A.actions-btn(href='#!')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='36', viewbox='0 0 35 36')
							defs
								path#1mt5a(d='M732.88 2629.53c-.21-.66.01-1.38.56-1.8l14.02-10.56a.89.89 0 0 1 1.08 0l14.02 10.57c.55.41.77 1.13.56 1.79-.21.66-.82 1.1-1.5 1.1h-.72v14.58h.5c.5 0 .9.42.9.92 0 .51-.4.92-.9.92h-26.8c-.5 0-.9-.4-.9-.92 0-.5.4-.92.9-.92h.5v-14.46-.12h-.72c-.69 0-1.29-.44-1.5-1.1zm15.93 15.68v-14.46-.12h-1.63v14.58zm-6.86-14.46l.01-.12h-1.64l.01.12v14.46h1.62zm-3.43 14.46v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm-3.42-14.58h-1.64v14.58h1.63v-14.46-.12zm-20.6-1.84h25.84l-12.92-9.74zm28.92 20.29c0 .5-.4.92-.9.92h-30.2c-.5 0-.9-.41-.9-.92 0-.5.4-.92.9-.92h30.2c.5 0 .9.41.9.92z')
							g
								g(transform='translate(-730 -2615)')
									use(xlink:href='#1mt5a')
						h4 Физические лица
						+e.actions-btn-bg(style='background-image: url(static/img/bg/hover-tabs_bg-1.jpg)')
		//end hover-tabs

		//begin articles-block
		+b.SECTION.articles-block
			+e.container.container
				+e.title.title-lg
					h2 законодательные акты, которые применяются в отношении бакротства финансовых компаний

					-
						articlesList =
						[['Статья 184.1', 'Дополнительные основания, для применения мер по предупреждению банкротства страховой организации'],
						['Статья 183.1', 'Меры про предупреждению банкротства финансовой организации'],
						['Статья 183.6', 'Временная администрация финансовой организации'],
						['Статья 183.19', 'Заявление о признание финансовой организации бакротом']]

				+e.row
					for el in articlesList
						+e.item
							+e.item-icon.
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 25 25"><defs><path id="7ci3a" d="M840 1293.5c0 6.9-5.6 12.5-12.5 12.5s-12.5-5.6-12.5-12.5 5.6-12.5 12.5-12.5 12.5 5.6 12.5 12.5zm-.96 0c0-6.36-5.18-11.54-11.54-11.54a11.55 11.55 0 0 0-11.54 11.54c0 6.36 5.18 11.54 11.54 11.54 6.36 0 11.54-5.18 11.54-11.54zm-4.97-5.17c.2.18.22.48.04.68l-7.7 8.65a.48.48 0 0 1-.65.06l-4.81-3.85a.48.48 0 0 1 .6-.75l4.45 3.56 7.39-8.3c.18-.2.48-.22.68-.05z"/></defs><g><g transform="translate(-815 -1281)"><use fill="#28b197" xlink:href="#7ci3a"/></g></g></svg>

							+e.item-text
								+e.item-title
									h5= el[0]
								p= el[1]
		//end articles-block

		//begin faq
		+b.SECTION.faq._white
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Стадии банкротства до отзыва лицензии у компании

				+b.accordion.faq__accordion(data-anim-stagger='fade-y')
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 НАблюдение
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Санация
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 временное управление
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 реорганизация
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

		//end faq

		//begin text-block
		+b.SECTION.text-block
			+e.container.container
				+e.title.title-lg
					h2 юридические аспекты несостоятельности предприятий

				+e.inner
					p Процедура банкротства, реализуемая в рамках законодательства “О несостоятельности (банкротстве)”, направлена на решение конкретных задач. Ключевой из них является защита интересов кредиторов. С этой целью используют различные правовые механизмы и инструменты.

					p Два из них заслуживают особого внимания:
					+e.item
						+e.item-title
							h6 1. Мировое соглашение
						p С точки зрения првозащитников этот вариант является наиболее благоприятным для всех участников процесса. Введение процедур наблюдения, санации, конкурсного или внешнего управления, не препятствует заключению мирового соглашения. Акт признается двухстороннам, а к его форме и содержанию предъявляется ряд требований. Документ составляют в письменном виде. Правом же на утверждение мировой наделен только суд. Участники должны согласовать следующие вопросы:
						ul
							li - порядок исполнения;
							li - сроки реализации меропрятий;
							li - правила начисления процентов на сумму зодолженности.

					+e.item
						+e.item-title
							h6 2. Оспаривание сделок
						p С точки зрения првозащитников этот вариант является наиболее благоприятным для всех участников процесса. Введение процедур наблюдения, санации, конкурсного или внешнего управления, не препятствует заключению мирового соглашения. Акт признается двухстороннам, а к его форме и содержанию предъявляется ряд требований. Документ составляют в письменном виде. Правом же на утверждение мировой наделен только суд. Участники должны согласовать следующие вопросы:
						ul
							li - порядок исполнения;
							li - сроки реализации меропрятий;
							li - правила начисления процентов на сумму зодолженности.
		//end text-block

		//begin tariff
		+b.SECTION.tariff
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Выберете подходящий вам тариф

				+e.inner(data-anim-stagger='fade-y')

					+e.item._top
						+e.item-title.title-sm
							h5 Устная консультация
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm от 5 000 рублей
						+e.BUTTON.item-btn.btn._grey(type='button')
							span ЗАКАЗАТЬ

					+e.item
						+e.item-title._top.title-sm
							h5 Первичный анализ ситуации
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm от 50 000 рублей
						+e.item-descr
							p анализ ситуации и подготовка пакета предложений
							p выявление возможных рисков
						+e.BUTTON.item-btn.btn._grey(type='button')
							span ЗАКАЗАТЬ

					+e.item
						+e.item-hit ХИТ
						+e.item-title._top.title-sm
							h5 Комплексный анализ ситуации
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm договорная
						+e.item-descr
							p финансовый анализ
							p анализ сделок должника ирекоменлацциии по снижению рисков

						+e.BUTTON.item-btn.btn._grey(type='button')
							span ЗАКАЗАТЬ

					+e.item._top
						+e.item-title.title-sm
							h5 Сопровождение банкростова и ликвидация
						+e.item-icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='53', viewbox='0 0 50 53')
								defs
									path#xmvja(d='M920.3 4095.96a2.5 2.5 0 0 1 .81-2.71l20.6-16.01a1.28 1.28 0 0 1 1.58 0l20.6 16a2.5 2.5 0 0 1 .82 2.72c-.32 1-1.2 1.67-2.2 1.67h-1.07l.01.18v21.9h.73c.73 0 1.33.63 1.33 1.4 0 .77-.6 1.4-1.33 1.4h-39.36c-.73 0-1.33-.63-1.33-1.4 0-.77.6-1.4 1.33-1.4h.73v-21.9-.18h-1.06c-1 0-1.88-.67-2.2-1.67zm23.4 23.76v-21.91-.18h-2.4v22.08zm-10.08-21.91l.01-.18h-2.4v22.08h2.39zm-5.04 21.9v-20.5h-2.38v20.5zm10.08 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.39v20.5zm10.07 0v-20.5h-2.38v20.5zm-5.02-22.08h-2.41l.01.18v21.9h2.38v-21.9c0-.06 0-.12.02-.18zm-30.25-2.79h37.94l-18.97-14.75zm42.47 30.73c0 .77-.6 1.4-1.33 1.4h-44.34c-.74 0-1.33-.63-1.33-1.4 0-.77.6-1.39 1.33-1.39h44.34c.74 0 1.33.62 1.33 1.4z')
									lineargradient#xmvjb(x1='947', x2='938', y1='4126.97', y2='4076.96', gradientunits='userSpaceOnUse')
										stop(offset='0', stop-color='#fcd369', stop-opacity='.73')
										stop(offset='1', stop-color='#fcd369', stop-opacity='0')
								g
									g(transform='translate(-917 -4075)')
										use(fill='#e5aa46', xlink:href='#xmvja')
										use(fill='url(#xmvjb)', xlink:href='#xmvja')

						+e.item-price.title-sm договорная
						+e.BUTTON.item-btn.btn._grey(type='button')
							span ЗАКАЗАТЬ
		//end tariff

		//begin consult
		+b.SECTION.consult._docs
			+e.container.container
				+e.title(data-anim='fade-y')
					h2 Получите список документов для подачи на банкротство

				+e.form-wrap(data-anim='fade-y')
					+e.FORM(action='#!' method='POST')
						+e.form-field
							+e.INPUT(type='text' placeholder='Ваш email' name='' required)

						+e.form-submit
							+b.LABEL.btn._grey.consult__form-submit-btn
								span получить документы
								+e.INPUT(type='submit' value='')

						+e.P Нажимая на кнопку "Получить документы", вы даете
							+b.A.link-decor(href='#!') согласие на обработку персональных данных
							br
							= ' '
							| и соглашаетесь c
							+b.A.link-decor(href='#!') политикой конфиденциальности.

					script.
						function showMessageOnSucces () {
							$.fancybox.open('<div class="success-message"><p>Письмо успешно отправлено</p></div>');
						}

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/consult_bg-2.jpg")
		//end consult

		//begin realized
		+b.SECTION.realized._bankrupt
			+e.container.container(data-anim-stagger='fade-y')
				+e.title.title-sm
					h2 Мы списали уже более 3 000 000 000 рублей
				+e.sub-title
					h4 Подкрепить свои слова мы можем показав результаты нашей работы
				+e.block-wrap
					+e.block.slider
						-i = 0
						while i < 2
							+e.item
								+e.images
									+e.images-item.is-active
										+e.IMG(src='static/img/content/realized_img.jpg' alt='image')
									+e.images-item
										+e.A(href='static/img/content/realized_img-doc.jpg' data-fancybox='realized-img')
											+e.IMG(src='static/img/content/realized_img-doc.jpg' alt='image')

								+e.content
									+e.actions
										+e.BUTTON.actions-btn.is-active(type='button')
											svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='36', viewbox='0 0 35 36')
												defs
													path#1mt5a(d='M732.88 2629.53c-.21-.66.01-1.38.56-1.8l14.02-10.56a.89.89 0 0 1 1.08 0l14.02 10.57c.55.41.77 1.13.56 1.79-.21.66-.82 1.1-1.5 1.1h-.72v14.58h.5c.5 0 .9.42.9.92 0 .51-.4.92-.9.92h-26.8c-.5 0-.9-.4-.9-.92 0-.5.4-.92.9-.92h.5v-14.46-.12h-.72c-.69 0-1.29-.44-1.5-1.1zm15.93 15.68v-14.46-.12h-1.63v14.58zm-6.86-14.46l.01-.12h-1.64l.01.12v14.46h1.62zm-3.43 14.46v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm6.86 0v-13.54h-1.62v13.54zm-3.42-14.58h-1.64v14.58h1.63v-14.46-.12zm-20.6-1.84h25.84l-12.92-9.74zm28.92 20.29c0 .5-.4.92-.9.92h-30.2c-.5 0-.9-.41-.9-.92 0-.5.4-.92.9-.92h30.2c.5 0 .9.41.9.92z')
												g
													g(transform='translate(-730 -2615)')
														use(xlink:href='#1mt5a')

										+e.BUTTON.actions-btn(type='button')
											svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 511 511', style='enable-background:new 0 0 511 511;', xml:space='preserve')
												g
													path(d='M415.5,40H351v-0.5c0-8.547-6.953-15.5-15.5-15.5H295v-0.5C295,10.542,284.458,0,271.5,0h-32\
													C226.542,0,216,10.542,216,23.5V24h-40.5c-8.547,0-15.5,6.953-15.5,15.5V40H95.5C73.72,40,56,57.72,56,79.5v392\
													c0,21.78,17.72,39.5,39.5,39.5h320c21.78,0,39.5-17.72,39.5-39.5v-392C455,57.72,437.28,40,415.5,40z M343.498,87H407.5\
													c0.276,0,0.5,0.224,0.5,0.5v376c0,0.276-0.224,0.5-0.5,0.5h-304c-0.276,0-0.5-0.224-0.5-0.5v-376c0-0.276,0.224-0.5,0.5-0.5h64.001\
													c0.089,0,0.175-0.01,0.263-0.013C174.967,96.695,186.51,103,199.5,103h112c12.99,0,24.533-6.305,31.736-16.013\
													C343.324,86.99,343.41,87,343.498,87z M231,23.5c0-4.687,3.813-8.5,8.5-8.5h32c4.687,0,8.5,3.813,8.5,8.5V24h-49V23.5z M175,39.5\
													c0-0.276,0.224-0.5,0.5-0.5h160c0.276,0,0.5,0.224,0.5,0.5v7.942c0,0.02-0.003,0.039-0.003,0.058S336,47.539,336,47.558V63.5\
													c0,13.509-10.991,24.5-24.5,24.5h-112C185.991,88,175,77.009,175,63.5V39.5z M440,471.5c0,13.509-10.991,24.5-24.5,24.5h-320\
													C81.991,496,71,485.009,71,471.5v-392C71,65.991,81.991,55,95.5,55H160v8.5c0,2.918,0.328,5.76,0.931,8.5H103.5\
													C94.953,72,88,78.953,88,87.5v376c0,8.547,6.953,15.5,15.5,15.5h304c8.547,0,15.5-6.953,15.5-15.5v-376\
													c0-8.547-6.953-15.5-15.5-15.5h-57.431c0.604-2.74,0.931-5.582,0.931-8.5V55h64.5c13.509,0,24.5,10.991,24.5,24.5V471.5z')
													path(d='M144.5,215h62c4.687,0,8.5-3.813,8.5-8.5v-62c0-4.687-3.813-8.5-8.5-8.5h-62c-4.687,0-8.5,3.813-8.5,8.5v62\
													C136,211.187,139.813,215,144.5,215z M151,151h49v49h-49V151z')
													path(d='M206.5,344h-62c-4.687,0-8.5,3.813-8.5,8.5v62c0,4.687,3.813,8.5,8.5,8.5h62c4.687,0,8.5-3.813,8.5-8.5v-62\
													C215,347.813,211.187,344,206.5,344z M200,408h-49v-49h49V408z')
													path(d='M218.197,242.197l-5.392,5.392c-2.707-4.535-7.65-7.589-13.305-7.589h-48c-8.547,0-15.5,6.953-15.5,15.5v48\
													c0,8.547,6.953,15.5,15.5,15.5h48c8.547,0,15.5-6.953,15.5-15.5v-8c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v8\
													c0,0.276-0.224,0.5-0.5,0.5h-48c-0.276,0-0.5-0.224-0.5-0.5v-48c0-0.276,0.224-0.5,0.5-0.5h48c0.276,0,0.5,0.224,0.5,0.5v4.894\
													l-16.5,16.5l-10.697-10.697c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.677,0,10.606l16,16\
													c1.464,1.465,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197l23.999-23.999c0.001-0.001,0.002-0.002,0.002-0.002l15.999-15.999\
													c2.929-2.929,2.929-7.677,0-10.606C225.875,239.268,221.125,239.268,218.197,242.197z')
													path(d='M239.5,159h24c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-24c-4.142,0-7.5,3.358-7.5,7.5S235.358,159,239.5,159z')
													path(d='M232,183.5c0,4.142,3.358,7.5,7.5,7.5h120c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-120\
													C235.358,176,232,179.358,232,183.5z')
													path(d='M239.5,271h80c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-80c-4.142,0-7.5,3.358-7.5,7.5S235.358,271,239.5,271z')
													path(d='M359.5,288h-120c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h120c4.142,0,7.5-3.358,7.5-7.5S363.642,288,359.5,288z')
													path(d='M239.5,375h32c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-32c-4.142,0-7.5,3.358-7.5,7.5S235.358,375,239.5,375z')
													path(d='M359.5,392h-120c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h120c4.142,0,7.5-3.358,7.5-7.5S363.642,392,359.5,392z')

									+e.text
										+e.H6.text-title Банкротство ООО НПО "Мостовик"

										+e.P Крупнейшее строительное предприятие, построившее значительное количество объектов к Олимпиаде в г. Сочи (в том числе бобслейную трассу), мост на остров Русский в г. Владивосток. Крупнейшее строительное предприятие, построившее значительное количество объектов к Олимпиаде в г. Сочи (в том числе бобслейную трассу), мост на остров Русский в г. Владивосток.
										+e.P Год: 2015

								-i++

				+e.more
					+e.A.more-btn.btn._grey(href='#!')
						span Смотреть все проекты
		//end realized

		//begin small-adv
		+b.SECTION.small-adv
			+e.container.container
				+e.title.title-lg
					h2 Преимущества работы с нами

				+e.row.row
					-
						advList = [
						'Ликвидация организации на абсолютно легальных и законных основаниях',
						'Списание финансовых обязательств',
						'Улучшение финансового положения путем выделения прибыльных направлений бизнеса'
						]

					for advText in advList
						+e.item
							+e.item-icon.
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" viewBox="0 0 50 50"><defs><path id="4iz1a" d="M513 5001c0 13.79-11.22 25-25 25s-25-11.21-25-25 11.22-25 25-25 25 11.21 25 25zm-1.92 0a23.1 23.1 0 0 0-23.08-23.08 23.1 23.1 0 0 0-23.08 23.08 23.1 23.1 0 0 0 23.08 23.08 23.1 23.1 0 0 0 23.08-23.08zm-9.94-10.33c.4.35.43.96.08 1.35l-15.39 17.31a.96.96 0 0 1-1.32.11l-9.61-7.69a.96.96 0 0 1 1.2-1.5l8.9 7.12 14.78-16.62a.96.96 0 0 1 1.36-.08z"/></defs><g><g transform="translate(-463 -4976)"><use fill="#28b197" xlink:href="#4iz1a"/></g></g></svg>
							p= advText

		//end small-adv

		//begin spec
		+b.SECTION.spec
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Специалисты по банкротству юридических лиц

				+e.slider(data-anim='fade-y')
					-n = 0
					while n < 2

						+e.person
							+e.person-text
								+e.person-data
									+e.person-name
										h4 Нехина Анна Александровна
									+e.person-pos
										h5 Генеральный директор
								+e.person-descr
									+e.person-descr-title
										p Начало карьеры в 2000 году.
									p В конце 2006 года На сегодняшний день в рамках работы команды под началом Анны Александровны юридическая помощь была оказана более, чем 400 компаниям.  Успешно решены более 60 арбитражных споров, завершено более 30 процедур банкротства В конце 2006 года На сегодняшний день в рамках работы команды под началом Анны Александровны юридическая помощь была оказана более, чем 400 компаниям.  Успешно решены более 60 арбитражных споров, завершено более 30 процедур банкротства
						-n++

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/spec_bg.jpg")
		//end spec

		//begin geo-work
		+b.SECTION.geo-work(data-anim='fade-x' data-anim-duration='1')
			+e.title.title-sm
				h2 География работ
			+e.map-wrap
				+e.map
		//end geo-work

		//begin form-section
		+b.SECTION.form-section
			+e.container.container(data-anim-stagger='fade-x')
				+e.title.title-md
					h2  Банкроство юридического лица законный метод получить свое
				+e.FORM.form(action='#!' method='POST')
					+e.form-field
						+e.INPUT.form-input.input(type='text' placeholder='Ваше имя' name='' required)
					+e.form-field
						+e.INPUT.form-input.input(type='text' placeholder='Ваш телефон' name='' required)
					+e.form-field
						+b.LABEL.btn._grey.form-section__form-submit
							span Связаться с юристом
							+e.INPUT(type='submit' value='')

				+e.agree
					+e.P Нажимая на кнопку "Связаться с юристом", вы даете
						+b.A.link-decor(href='#!') согласие на обработку персональных данных
						br
						= ' '
						| и соглашаетесь c
						+b.A.link-decor(href='#!') политикой конфиденциальности.
		//end form-section

		//begin faq
		+b.SECTION.faq
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Популярные вопросы

				+b.accordion.faq__accordion(data-anim-stagger='fade-y')
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Сколько времени занимает банкротство?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Сколько времени занимает банкротство?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Сколько времени занимает банкротство?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
		//end faq

		//begin consult
		+b.SECTION.consult._bankrupt
			+e.container.container
				+e.title(data-anim='fade-y')
					h2 Задайте свой вопрос юристу по банкротству
				+e.sub-title(data-anim='fade-y')
					h4 Наш специалист свяжется с вами в течение рабочего дня

				+e.form-wrap(data-anim='fade-y')
					+e.FORM(action='#!' method='POST')
						+e.form-field
							+e.INPUT(type='text' placeholder='Имя' name='' required)

						+e.form-field
							+e.INPUT(type='text' placeholder='Телефон' name='' required)

						+e.form-field
							+e.INPUT(type='text' placeholder='Email' name='' required)

						+e.form-field
							+e.INPUT(type='text' placeholder='Комментарий' name='' required)

						+e.form-submit
							+b.LABEL.btn._grey.consult__form-submit-btn
								span оставить заявку
								+e.INPUT(type='submit' value='')

						+e.P Нажимая на кнопку "Оставить заявку", вы даете
							+b.A.link-decor(href='#!') согласие на обработку персональных данных
							br
							= ' '
							| и соглашаетесь c
							+b.A.link-decor(href='#!') политикой конфиденциальности.

					script.
						function showMessageOnSucces () {
							$.fancybox.open('<div class="success-message"><p>Письмо успешно отправлено</p></div>');
						}

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/consult_bg.jpg")
		//end consult

		//begin seo-text
		+b.SECTION.seo-text
			+e.container.container(data-anim-stagger='fade-y' data-stagger-delay='.2')
				+e.H3.title.title-md Банкротство юридических и физических лиц в Москве и Московской области

				p В конце декабря ушедшего года в очередной раз были изменены правила банкротства юридических лиц (Федеральный закон от 29 декабря 2014 г. № 482-ФЗ; далее – Закон). Новые нормы действуют чуть больше месяца – они вступили в силу 29 января. Практика по ним пока не накоплена, однако некоторые из новелл вызывают вопросы. Рассмотрим, в чем заключаются основные нововведения.
				p Условно поправки можно разделить на две части: к
					a.link-decor(href='#!') первой относятся изменения
					| , направленные на ужесточение условий для должников и сокращение возможностей для злоупотреблений с их стороны. Ко второй – поправки, уточняющие правила саморегулирования в сфере банкротства.

				+e.A.more-btn.btn._grey(href='#!')
					span ЧИТАТЬ ПОЛНОСТЬЮ
		//end seo-text