extends ../extend/default

block variables
	-title = 'Контакты';
	-googleMap = true;
	-headerClass = 'header_entry';
	-footerClass = 'footer_entry';

block main
	main.content

		//begin screen
		+b.SECTION.screen._contacts
			+e.container.container
				+e.breadcrumb.breadcrumb(data-anim='fade-x' data-anim-delay='1')
					ul
						li: a(href='#!') Главная
						li.is-active: a(href='#!') Контакты

				+e.inner
					+e.main-title(data-anim='fade-y' data-anim-delay='0.2')
						h1 свяжитесь с командой профессиональных актикризисных управляющих

					+e.contacts
						+e.contacts-item(data-anim='fade-y' data-anim-delay='0.3')
							+e.contacts-icon.
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="57" height="75" viewBox="0 0 57 75"><defs><path id="kgoha" d="M546 500.06a32.6 32.6 0 0 1-.7 6.65 30.44 30.44 0 0 1-1.9 5.93c-3.08 7.62-9.84 19.34-24.63 31.88a1.95 1.95 0 0 1-2.54 0c-14.8-12.54-21.55-24.26-24.62-31.88a30.72 30.72 0 0 1-2.1-6.94 31.2 31.2 0 0 1-.51-5.64c0-16.57 12.78-30.07 28.48-30.07 15.7 0 28.49 13.5 28.52 30.07zm-4.05-.02c0-14.23-10.98-25.81-24.47-25.81-13.48 0-24.46 11.58-24.46 25.81 0 1.65.15 3.29.45 4.9l.01.12c.02.08.05.32.14.68v.03c.39 1.76.94 3.49 1.65 5.12.02.02.02.05.03.07 2.79 6.96 8.9 17.59 22.18 29.18 13.3-11.6 19.4-22.22 22.19-29.18.01-.02.01-.05.03-.07a25.93 25.93 0 0 0 1.65-5.12v-.03l.14-.68.01-.1a27 27 0 0 0 .45-4.92zm-6.38.35c0 10.52-8.12 19.09-18.09 19.09-9.96 0-18.08-8.57-18.08-19.1 0-10.51 8.12-19.08 18.08-19.08 9.97 0 18.1 8.57 18.1 19.09zm-4.02 0c0-8.18-6.32-14.84-14.07-14.84-7.74 0-14.06 6.66-14.06 14.84 0 8.17 6.3 14.84 14.06 14.84 7.77 0 14.07-6.67 14.07-14.84z"/><linearGradient id="kgohb" x1="525" x2="510" y1="545" y2="469.99" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fcd369" stop-opacity=".73"/><stop offset="1" stop-color="#fcd369" stop-opacity="0"/></linearGradient></defs><g><g transform="translate(-489 -470)"><use fill="#e4aa46" xlink:href="#kgoha"/><use fill="url(#kgohb)" xlink:href="#kgoha"/></g></g></svg>
							+e.contacts-text
								+e.contacts-title
									h4 Телефон
								a(href='tel:+74956264131') +7 (495) 626-41-31

						+e.contacts-item(data-anim='fade-y' data-anim-delay='0.4')
							+e.contacts-icon.
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="75" height="75" viewBox="0 0 75 75"><defs><path id="z8k5a" d="M831 525.18a7.6 7.6 0 0 1 2.44 5.43c0 1.94-.82 3.84-2.4 5.47-.68.72-1.37 1.4-2.06 2.04-1 .97-1.95 1.87-2.77 2.87l-.07.08a11.97 11.97 0 0 1-9.16 3.93c-.31 0-.66-.02-1-.04-5.44-.35-10.31-2.39-13.96-4.11a74.65 74.65 0 0 1-24.88-19.42c-5.73-6.87-9.57-13.28-12.14-20.2-1.05-2.82-2.41-7.12-2.03-11.75a11.57 11.57 0 0 1 3.44-7.36l5.4-5.43.03-.03a7.78 7.78 0 0 1 5.4-2.33c1.94 0 3.78.81 5.32 2.33 1.03.95 2.03 1.96 2.98 2.94.48.51.98 1.02 1.48 1.51l4.33 4.32c3.33 3.32 3.33 7.63 0 10.95l-1.33 1.35c-1.18 1.19-2.38 2.42-3.69 3.61.97 2.14 2.3 4.24 4.29 6.74 4.1 5.02 8.36 8.9 13.06 11.87.46.29 1 .56 1.57.84l1.23.64 5.01-5a7.66 7.66 0 0 1 5.43-2.43 7.4 7.4 0 0 1 5.36 2.46zm-3.05 3l-8.74-8.73-.04-.03c-.49-.54-1.3-1.16-2.28-1.16-1 0-1.86.65-2.4 1.19l-5.43 5.41a3.4 3.4 0 0 1-2.41 1.1c-.52 0-1.03-.13-1.57-.4l-.2-.11c-.45-.29-1-.56-1.56-.84-.64-.32-1.3-.65-1.96-1.06a58.29 58.29 0 0 1-14.09-12.8h-.02c-2.4-3.06-4-5.63-5.12-8.35l-.05-.14c-.29-.9-.54-2.23.83-3.6.01-.03.04-.04.07-.07a82.09 82.09 0 0 0 3.99-3.87c.46-.44.9-.9 1.36-1.36 1.69-1.68 1.69-3.23 0-4.9l-4.33-4.33-1.5-1.53c-.98-1-1.9-1.93-2.86-2.84l-.05-.04a3.4 3.4 0 0 0-2.32-1.11c-.8 0-1.63.4-2.41 1.12l-5.41 5.4a7.25 7.25 0 0 0-2.2 4.7c-.23 2.9.3 5.97 1.78 9.91 2.4 6.46 6.02 12.47 11.43 18.98a70.47 70.47 0 0 0 23.43 18.3c3.28 1.56 7.67 3.4 12.38 3.7.24.02.5.02.73.02 2.48 0 4.36-.8 5.97-2.52a41.27 41.27 0 0 1 3.06-3.17c.68-.66 1.32-1.26 1.94-1.93-.02.02-.02 0 0 0 1.62-1.67 1.62-3.33-.02-4.95zm-26.19-42.81a2.15 2.15 0 0 1 2.48-1.74 24.5 24.5 0 0 1 13.25 6.85 24.4 24.4 0 0 1 6.87 13.22 2.14 2.14 0 0 1-2.12 2.5 2.13 2.13 0 0 1-2.11-1.77 20.16 20.16 0 0 0-5.69-10.93c-3.01-3-6.79-4.97-10.95-5.66a2.12 2.12 0 0 1-1.73-2.47zm34.46 20.15l-.36.03a2.13 2.13 0 0 1-2.12-1.77 35.81 35.81 0 0 0-10.1-19.46 36.12 36.12 0 0 0-19.51-10.08 2.13 2.13 0 0 1 .7-4.2 40.32 40.32 0 0 1 21.82 11.27c6 5.99 9.9 13.5 11.32 21.77a2.1 2.1 0 0 1-1.75 2.44z"/><linearGradient id="z8k5b" x1="808" x2="792.9" y1="545" y2="470" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fcd369" stop-opacity=".73"/><stop offset="1" stop-color="#fcd369" stop-opacity="0"/></linearGradient></defs><g><g transform="translate(-763 -470)"><use fill="#e4aa46" xlink:href="#z8k5a"/><use fill="url(#z8k5b)" xlink:href="#z8k5a"/></g></g></svg>
							+e.contacts-text
								+e.contacts-title
									h4 E-mail
								+e.A.contacts-link-decor.link-decor(href='mailto:labay@labay.ru') labay@labay.ru

						+e.contacts-item(data-anim='fade-y' data-anim-delay='0.5')
							+e.contacts-icon.
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="75"
											viewBox="0 0 36 75">
										<defs>
											<path id="6f84a"
														d="M1102.97 494.29l-1.37 13.25h-10.56v37.5h-15.63v-37.5h-7.44v-13.25h7.44v-8.58c0-6.13 2.92-15.73 15.78-15.73l11.59.05v12.86h-8.41c-1.38 0-3.33.69-3.33 3.61v7.8l11.93-.01z"/>
											<linearGradient id="6f84b" x1="1092.97" x2="1077.97" y1="545.04" y2="469.98" gradientUnits="userSpaceOnUse">
													<stop offset="0" stop-color="#fcd369" stop-opacity=".73"/>
													<stop offset="1" stop-color="#fcd369" stop-opacity="0"/>
											</linearGradient>
											<clipPath id="6f84c">
													<use fill="#fff" xlink:href="#6f84a"/>
											</clipPath>
										</defs>
										<g>
											<g transform="translate(-1067 -470)">
													<use fill="#fff" fill-opacity="0" stroke="#e4aa46" stroke-miterlimit="50" stroke-width="6"
															clip-path="url(&quot;#6f84c&quot;)" xlink:href="#6f84a"/>
											</g>
										</g>
								</svg>
							+e.contacts-text
								+e.contacts-title
									h4 Facebook
								+e.A.contacts-link-decor.link-decor(href='#!') Follow Us

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/screen_bankruptcy_bg.jpg")
		//end screen

		//begin form-section
		+b.SECTION.form-section._has-msg
			+e.container.container(data-anim-stagger='fade-x')
				+e.FORM.form(action='#!' method='POST')
					+e.form-row
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваше имя' name='' required)
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваш телефон' name='' required)
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваш e-mail' name='' required)
					+e.form-message
						+e.TEXTAREA(placeholder='Комментарий' name='')

					+b.LABEL.btn._grey.form-section__form-submit
						span получить консультацию
						+e.INPUT(type='submit' value='')

				+e.agree
					+e.P Нажимая на кнопку "получить консультацию", вы даете
						+b.A.link-decor(href='#!') согласие на обработку персональных данных
						br
						= ' '
						| и соглашаетесь c
						+b.A.link-decor(href='#!') политикой конфиденциальности.
		//end form-section

		//begin contacts
		+b.SECTION.contacts._mod#scroll-here
			+e.block(data-anim='fade-x' data-anim-delay='0.2')
				+e.block-inner
					+e.block-title
						h6 г. Москва, Большой Головин переулок, д.3, стр.2
					+e.block-text
						p Реквизиты ООО "Лаборатория антикризисных исследований":
						+e.block-docs
							p ИНН: 5027077151
							p КПП: 502701001
							p ОГРН: 1035005008180

			+e.map-wrap(data-anim='fade-x')
				+e.map
		//end contacts