extends ../extend/default

block variables
	-title = 'Типовая страница';
	-headerClass = 'header_entry';
	-footerClass = 'footer_entry';

block main
	main.content.content_default

		//begin text-block
		+b.SECTION.text-block
			+e.container.container

				+e.breadcrumb.breadcrumb._black(data-anim='fade-x')
					ul
						li: a(href='#!') Главная
						li: a(href='#!') Ликвидация предприятий
						li.is-active: a(href='#!') ЗАО с долгами

				+e.top(data-anim='fade-x' data-anim-delay='0.2')
					+e.title.title-xs
						h3 Ликвидация ЗАО
					+e.top-descr
						p С сентября 2014 года из гражданского законодательства исчезли упоминания о закрытом акционерном обществе (ЗАО). Организационная форма прекратила свое существование. Хозяйственные общества стали делить по принципу публичности. Однако вопрос о судьбе ранее созданных компаний окончательно не решен и сегодня. Нормативными актами не предусмотрена обязанность немедленного закрытия функционирующих фирм. Механизмы управления и реорганизации остались прежними. Не изменились и принципы ликвидации ЗАО с долгами.

				+e.article
					+e.article-title(data-anim='fade-x' data-anim-delay='0.3')
						+e.article-title-icon.
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" viewBox="0 0 50 50"><defs><path id="fx30a" d="M267.92 481v2.08h-14.58v35.42h20.83v2.08h-22.72a4.27 4.27 0 0 0-4.36 4.13v.04a4.17 4.17 0 0 0 4.16 4.17h22.92V531h-22.92a6.26 6.26 0 0 1-6.25-6.46v-37.3c0-3.44 2.8-6.24 6.25-6.24zm-20.83 6.25v32.88c1.11-1 2.58-1.61 4.16-1.63v-35.42a4.17 4.17 0 0 0-4.16 4.17zm16.66 0v2.08h-4.16v4.17h-2.09v-5.21c0-.57.47-1.04 1.04-1.04zm-4.16 12.5h3.12v2.08h-4.17c-.57 0-1.04-.46-1.04-1.04v-5.2h5.21v2.08h-3.12zm-2.09 5.2h2.09v2.09h-2.09zm4.17 0h2.08v2.09h-2.08zm-3.13 18.76h15.63v2.08h-15.63zm-4.16 0h2.08v2.08h-2.08zm25-13.58a14.58 14.58 0 1 1 2.08 0v4.38a3.13 3.13 0 0 1 2.08 2.95v10.41a3.13 3.13 0 1 1-6.25 0v-10.41c0-1.36.87-2.52 2.09-2.95zm13.54-14.55a12.5 12.5 0 1 0-25 0 12.5 12.5 0 0 0 25 0zm-11.46 21.88a1.04 1.04 0 0 0-2.08 0v10.41a1.04 1.04 0 1 0 2.08 0zm-2.08-22.92h2.08v2.08h-2.08zm5.2 0h2.09v2.08h-2.09zm-10.41 0h2.08v2.08h-2.08z"/></defs><g><g transform="translate(-245 -481)"><use fill="#e4a13a" xlink:href="#fx30a"/></g></g></svg>

						+e.article-title-text
							+e.title.title-xs
								h3 Порядок ликвидации ЗАО
							p Сегодня закрытие ЗАО с долгами осуществляется в следующих формах:

					+e.article-item(data-anim='fade-x' data-anim-delay='0.4')
						+e.article-item-title
							h5 1. Банкротство

						p Это единственный официальный способ прекращения деятельности компании с кредиторской задолженностью. Выявление признаков финансовой несостоятельности обязывает руководство предприятия направить соответствующее заявление в арбитраж. Собственники не отвечают по долгам общества, а потому принудить их к дополнительным капиталовложениям невозможно. Процедура грозит участникам только потерей акций и дивидендов. Субсидиарная ответственность владельцев ценных бумаг предусмотрена лишь при умышленном доведении организации до критического состояния.При ликвидации ЗАО с долгом специалистами проводится комплексный анализ. На стадии наблюдения временный управляющий оценивает возможности восстановления платежеспособности. Если таковой не усматривается, вводится конкурсное производство. Кроме того, возможно сокращение сроков проведения процедур банкротства путем перехода к упрощенной форме банкротства ­ банкротству ликвидируемого должника. Занимает процедура от 6 до 24 месяцев.

					+e.article-item(data-anim='fade-x' data-anim-delay='0.5')
						+e.article-item-title
							h5 2. Поэтапная реорганизация

						p Еще один метод предполагает ряд структурных преобразований. Профессиональными юристами и антикризисными управляющими составляется поэтапный план. В ходе мероприятий объединяется имущество нескольких фирм­ должников, проводится реструктуризация задолженности, переоценка активов. Реорганизация может происходить в форме слияния, присоединения, разделения. В отдельных случаях юридическое лицо преобразуют без привлечения стороннего капитала. Любые решения принимают на основе результатов аналитического исследования.Специалисты обращают внимание, что ликвидация ЗАО не является конечной целью реорганизации. В результате таких изменений появляются правопреемники, а интересы кредиторов защищаются рядом нормативно­правовых актов. Законной процедура будет лишь при выполнении процессуальных правил.
		//end text-block

		//begin get-docs
		+b.SECTION.get-docs
			+e.container.container
				+e.text
					+e.title.title-xs(data-anim='fade-x')
						h3 Перечень документов, необходимый для процедуры ликвидации

					-
						docsList = [
						'Заявление­уведомление по форме N Р15001 (нотариально заверенное) и решение (протокол);',
						'Заявление­уведомление по форме N Р15001 (нотариально заверенное) и решение (протокол);'
						]

					for docsText, idx in docsList
						+e.item(data-anim='fade-x')
							+e.item-title
								h5= docsText
							+e.A.item-download(href='#!')
								svg(class='get-docs__item-icon' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='30', height='30', viewbox='0 0 30 30')
									defs
										path#phnza(d='M327.5 1372v1.25h3.75A3.75 3.75 0 0 1 335 1377v2.5c0 .2-.1.4-.26.5l-1 .71.01.04v13.12c0 1.73-1.4 3.13-3.13 3.13h-21.25a3.13 3.13 0 0 1-3.12-3.13v-13.12-.04l-.99-.7a.62.62 0 0 1-.26-.51v-2.5a3.75 3.75 0 0 1 3.75-3.75h3.75V1372a5 5 0 0 1 5-5h5a5 5 0 0 1 5 5zm-1.51 14.26a.63.63 0 0 1-.37.11h-1.87v1.25c0 .35-.28.63-.63.63h-6.25a.63.63 0 0 1-.62-.63v-1.25h-1.88a.62.62 0 0 1-.36-.11l-6.51-4.65v12.26c0 1.04.84 1.88 1.87 1.88h21.25c1.04 0 1.88-.84 1.88-1.88v-12.26zm-.57-1.14l8.33-5.94V1377a2.5 2.5 0 0 0-2.5-2.5h-22.5a2.5 2.5 0 0 0-2.5 2.5v2.18l8.32 5.94h1.68v-1.25c0-.34.28-.62.62-.62h6.25c.35 0 .63.28.63.62v1.25zm.83-13.12a3.75 3.75 0 0 0-3.75-3.75h-5a3.75 3.75 0 0 0-3.75 3.75v1.25H315V1372a2.5 2.5 0 0 1 2.5-2.5h5a2.5 2.5 0 0 1 2.5 2.5v1.25h1.25zm-2.5 0c0-.7-.56-1.25-1.25-1.25h-5c-.69 0-1.25.56-1.25 1.25v1.25h7.5zm-1.25 12.5h-5v2.5h5zm-8.75 8.75v1.25h-4.38a.63.63 0 0 1-.62-.63v-4.37H310v3.75zm1.25 0h1.25v1.25H315zm2.5 0h1.25v1.25h-1.25z')
									g
										g(transform='translate(-305 -1367)')
											use(xlink:href='#phnza')

								span скачать документ

				+e.img(style='background-image: url(static/img/other/print.png)' data-anim='fade-x')
		//end get-docs

		//begin cost
		+b.SECTION.cost
			+e.container.container
				+e.title.title-xs(data-anim='fade-y')
					h3 Стоимость услуг юриста по ликвидации ЗАО

				+e.table-wrap(data-anim='fade-y' data-anim-delay='0.2')
					+e.table
						+e.table-row._title
							+e.table-data._name Наименование
							+e.table-data._price цена
							+e.table-data._term СРОКИ

						+e.table-row
							+e.table-data._name Анализ перспектив судебного разбирательства
							+e.table-data._price Бесплатно
							+e.table-data._term 2 дня

						+e.table-row
							+e.table-data._name Консультация по ликвидации ЗАО (устная, письменная)
							+e.table-data._price от 2000 руб.
							+e.table-data._term 1 день

						+e.table-row
							+e.table-data._name Составление документации (претензия, исковое заявления, возражение на исковое заявление)
							+e.table-data._price от 3000 руб.
							+e.table-data._term 5 дней
		//end cost

		//begin form-section
		+b.SECTION.form-section._has-msg
			+e.container.container(data-anim-stagger='fade-x')
				+e.top
					+e.top-title.title-lg
						h4 Получите консультацию профессионального юриста
					+e.top-sub-title
						h5 Свяжемся с вами в течении рабочего дня

				+e.FORM.form(action='#!' method='POST')
					+e.form-row
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваше имя' name='' required)
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваш телефон' name='' required)
						+e.form-field
							+e.INPUT.form-input.input(type='text' placeholder='Ваш e-mail' name='' required)
					+e.form-message
						+e.TEXTAREA(placeholder='Комментарий' name='')

					+b.LABEL.btn._grey.form-section__form-submit
						span получить консультацию
						+e.INPUT(type='submit' value='')

				+e.agree
					+e.P Нажимая на кнопку "получить консультацию", вы даете
						+b.A.link-decor(href='#!') согласие на обработку персональных данных
						br
						= ' '
						| и соглашаетесь c
						+b.A.link-decor(href='#!') политикой конфиденциальности.
		//end form-section

		//begin faq
		+b.SECTION.faq
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Популярные вопросы

				+b.accordion.faq__accordion(data-anim-stagger='fade-y')
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Как формируется стоимость ликвидации компаний с долгами?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Как формируется стоимость ликвидации компаний с долгами?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Как формируется стоимость ликвидации компаний с долгами?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.

					+e.item
						+e.BUTTON.btn(type='button')
							+e.btn-text
								h4 Как формируется стоимость ликвидации компаний с долгами?
							+e.btn-icon
								svg(class='icon-minus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#i9lga(d='M1317 7128a2 2 0 0 1 0 4h-10a2 2 0 0 1 0-4zm11 2a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7112)')
											use(xlink:href='#i9lga')


								svg(class='icon-plus' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35', viewbox='0 0 35 35')
									defs
										path#vhfqa(d='M1319 7042a2 2 0 0 1-2 2h-3v3a2 2 0 0 1-4 0v-3h-3a2 2 0 0 1 0-4h3v-3a2 2 0 1 1 4 0v3h3a2 2 0 0 1 2 2zm9 0a16 16 0 1 1-32 0 16 16 0 0 1 32 0zm-3 0c0-7.17-5.83-13-13-13s-13 5.83-13 13 5.83 13 13 13 13-5.83 13-13z')
									g
										g(transform='translate(-1294 -7024)')
											use(xlink:href='#vhfqa')

						+e.content
							+e.content-inner
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
								p Итак, кому выгодно и кто может обратиться в суд с заявлением о банкротстве?
								p Правом на обращение в арбитражный суд с заявлением о признании должника банкротом обладают должник, конкурсный кредитор, уполномоченные органы, а также работник, бывший работник должника, имеющие требования о выплате выходных пособий и (или) об оплате труда.Причем для Должника это обязанность, а для всех остальных только право.
		//end faq

		//begin spec
		+b.SECTION.spec
			+e.container.container
				+e.title.title-sm(data-anim='fade-y')
					h2 Специалисты по банкротству юридических лиц

				+e.slider(data-anim='fade-y')
					-n = 0
					while n < 2

						+e.person
							+e.person-text
								+e.person-data
									+e.person-name
										h4 Нехина Анна Александровна
									+e.person-pos
										h5 Генеральный директор
								+e.person-descr
									+e.person-descr-title
										p Начало карьеры в 2000 году.
									p В конце 2006 года На сегодняшний день в рамках работы команды под началом Анны Александровны юридическая помощь была оказана более, чем 400 компаниям.  Успешно решены более 60 арбитражных споров, завершено более 30 процедур банкротства В конце 2006 года На сегодняшний день в рамках работы команды под началом Анны Александровны юридическая помощь была оказана более, чем 400 компаниям.  Успешно решены более 60 арбитражных споров, завершено более 30 процедур банкротства
						-n++

			+b.parallax-bg(data-parallax="scroll" data-image-src="static/img/bg/spec_bg.jpg")
		//end spec

		//begin latest-events
		+b.SECTION.latest-events
			+e.container.container
				+e.top(data-anim='fade-y')
					+e.H2.title.title-sm Последние события

					+e.A.more-btn.btn._grey(href='#!')
						span Все события

				+e.inner.mob-slider(data-anim-stagger='fade-y' data-stagger-delay='.2')
					+e.item
						+e.img(style='background-image: url(static/img/content/latest-events_img-1.jpg)' onclick='')
							+e.text._hidden
								span 22.03.2018

								p.js-dot От нового собственника «Улан-Удэстальмоста» ожидали разработки и внедрения эффективного антикризисного

								a.link-decor(href='#!') ЧИТАТЬ ДАЛЬШЕ

						+e.text
							p.js-dot От нового собственника «Улан-Удэстальмоста» ожидали разработки и внедрения эффективного антикризисного
							span 22.03.2018

							a.link-decor(href='#!') ЧИТАТЬ ДАЛЬШЕ

					+e.item
						+e.img(style='background-image: url(static/img/content/latest-events_img-1.jpg)' onclick='')
							+e.text._hidden
								span 22.03.2018

								p.js-dot От нового собственника «Улан-Удэстальмоста» ожидали разработки и внедрения эффективного антикризисного

								a.link-decor(href='#!') ЧИТАТЬ ДАЛЬШЕ

						+e.text
							p.js-dot От нового собственника «Улан-Удэстальмоста» ожидали разработки и внедрения эффективного антикризисного
							span 22.03.2018

							a.link-decor(href='#!') ЧИТАТЬ ДАЛЬШЕ

					+e.item
						+e.img(style='background-image: url(static/img/content/latest-events_img-1.jpg)' onclick='')
							+e.text._hidden
								span 22.03.2018

								p.js-dot От нового собственника «Улан-Удэстальмоста» ожидали разработки и внедрения эффективного антикризисного

								a.link-decor(href='#!') ЧИТАТЬ ДАЛЬШЕ

						+e.text
							p.js-dot От нового собственника «Улан-Удэстальмоста» ожидали разработки и внедрения эффективного антикризисного
							span 22.03.2018

							a.link-decor(href='#!') ЧИТАТЬ ДАЛЬШЕ
		//end latest-events

		//begin seo-text
		+b.SECTION.seo-text._padding
			+e.container.container(data-anim-stagger='fade-y' data-stagger-delay='.2')
				+e.H3.title.title-md Банкротство юридических и физических лиц в Москве и Московской области

				p В конце декабря ушедшего года в очередной раз были изменены правила банкротства юридических лиц (Федеральный закон от 29 декабря 2014 г. № 482-ФЗ; далее – Закон). Новые нормы действуют чуть больше месяца – они вступили в силу 29 января. Практика по ним пока не накоплена, однако некоторые из новелл вызывают вопросы. Рассмотрим, в чем заключаются основные нововведения.
				p Условно поправки можно разделить на две части: к
					a.link-decor(href='#!') первой относятся изменения
					| , направленные на ужесточение условий для должников и сокращение возможностей для злоупотреблений с их стороны. Ко второй – поправки, уточняющие правила саморегулирования в сфере банкротства.

				+e.A.more-btn.btn._grey(href='#!')
					span ЧИТАТЬ ПОЛНОСТЬЮ
		//end seo-text